#account-content {
    padding: 37px 0;
}

.account-title-block {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.account-menu-block {
    float: left;
    width: 420px;
    text-align: center;
}

.account-menu-block .account-info {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 29px 46px 2px;
}

.account-menu-block .account-info:last-child {
    margin-top: 30px;
    padding: 23px 46px;
}

.account-tabs-block {
    float: right;
    width: calc(100% - 480px);
}

.account-tabs-block .tab-block {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 30px 56px;
}

.tab-block:not(:last-of-type) {
    margin-bottom: 60px;
}

.account-info .specialist-image-block {
    margin-bottom: 18px;
}

.account-name {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.account-type {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.account-menu {
}

.account-menu .item {
    display: block;
    font-size: 20px;
    line-height: 59px;
    padding-left: 61px;
    border-top: 1px solid #D5D5D5;
    text-align: left;
}

.account-menu a {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    line-height: 26px;
}

.account-menu a:after {
    content: '';
    display: block;
    position: relative;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #000;
    transition: all linear 0.2s;
}

.account-menu a:hover:after {
    width: 100%;
}

.account-menu a.active {
    font-weight: bold;
}

.account-registrations {
    background: url("/css/imgs/account-registrations.svg") no-repeat;
    background-position: 5px 13px;
}

.account-calendar {
    background: url("/css/imgs/account-calendar.svg") no-repeat;
    background-position: 2px 13px;
}

.account-favorites {
    background: url("/css/imgs/account-favorites.svg") no-repeat;
    background-position: 5px 19px;
}

.account-profile {
    background: url("/css/imgs/account-profile.svg") no-repeat;
    background-position: 4px 17px;
}

.account-profinfo {
    background: url("/css/imgs/account-profinfo.svg") no-repeat;
    background-position: 5px 15px;
}

.account-statistic {
    background: url("/css/imgs/account-statistic.svg") no-repeat;
    background-position: 0px 15px;
}

.account-settings {
    background: url("/css/imgs/account-settings.svg") no-repeat;
    background-position: 0px 15px;
}

.account-logout {
    background: url("/css/imgs/account-logout.svg") no-repeat;
    background-position: 5px 13px;
}

.account-info .btn-green {
    width: 100%;
}

.account-info .text {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 22px;
}

.filter-menu {
    margin-bottom: 49px;
}

.filter-menu a {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: #000;
}

.filter-menu a:not(:last-child) {
    margin-right: 45px;
}

.filter-menu a.active {
    font-weight: bold;
}

.filter-menu a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: #000;
    transition: all linear 0.2s;
}

.filter-menu a:hover:after {
    width: 100%;
}

.event-block {
    background: #FAFAFA;
    border-radius: 5px;
    position: relative;
    padding: 22px 450px 24px 221px;
    overflow: hidden;
}

.event-block:not(:last-child) {
    margin-bottom: 21px;
}

.event-date-block,
.event-image-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 185px;
    height: 100%;
    text-align: center;
    padding-top: 27px;
}

.event-image-block {
    padding-top: 14px;
}

.event-image-block .image-wrapper {
    width: 87px;
    height: 87px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.event-image-block .image-wrapper img {
    width: 100%;
}

.privat .follow,
.privat .event-date-block {
    background: #5985AD;
}

.event .follow,
.event .event-date-block {
    background: #59ADA8;
}

.group .follow,
.group .event-date-block {
    background: #59AD6B;
}

.event-date-block span {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.event-info-block {
}

.event-info-block span {
    display: block;
    font-size: 24px;
    line-height: 35px;
}

.event-actions-block {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    width: 480px;
    padding: 33px 30px 0 0;
}

.event-actions-block a {
    height: 50px;
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
    letter-spacing: 0;
    padding: 14px 18px;
}

.event-actions-block span {
    font-size: 24px;
    line-height: 50px;
    color: #AAAAAA;
}

.event-actions-block a:not(:last-child) {
    margin-right: 20px;
}

.diploma-block {
    position: relative;
    padding: 20px 0;
}

.diploma-block .delete {
    position: absolute;
    top: 17px;
    right: -8px;
    z-index: 1;
    background: none;
    border: none;
    font-size: 55px;
    font-weight: 100;
    outline: none;
    line-height: 28px;
}

.diploma-block .diploma-title {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 26px;
    font-weight: bold;
}

.diploma-block .diploma-name {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 30px;
}

.diploma-block .diploma-description {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.diploma-block .diploma-image {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 22px;
    color: #464646;
}

.diploma-block .btn-form-white {
    margin: 0;
}

@media (max-width: 1199px) {
    .account-menu-block {
        width: 100%;
    }

    .account-tabs-block {
        width: 100%;
    }

    .account-title-block {
        font-size: 16px;
        line-height: 37px;
        margin-bottom: 20px;
    }

    .account-menu-block .account-info {
        background: #FAFAFA;
        border-radius: 10px;
        padding: 10px 54px 2px;
    }

    .account-info .specialist-image-block {
        margin-bottom: 11px;
    }

    .account-name {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 1px;
    }

    .account-type {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    .account-menu .account-menu-col {
        float: left;
        width: 50%;
    }

    .account-menu .account-menu-col:first-child {
        border-right: 1px solid #D5D5D5;
    }

    .account-menu .item {
        padding-top: 7px;
        padding-left: 78px;
        font-size: 16px;
        line-height: 52px;
    }

    .account-registrations {
        background-position: 25px 15px;
    }

    .account-calendar {
        background-position: 21px 17px;
    }

    .account-favorites {
        background-position: 25px 19px;
    }

    .account-profile {
        background-position: 25px 15px;
    }

    .account-profinfo {
        background-position: 25px 19px;
    }

    .account-statistic {
        background-position: 21px 13px;
    }

    .account-settings {
        background-position: 23px 17px;
    }

    .account-logout {
        background-position: 29px 19px;
    }

    .account-info .text {
        display: block;
        margin-bottom: 15px;
    }

    .account-info .text br {
        display: none;
    }

    .account-menu-block .account-info:last-child {
        margin-top: 30px;
        padding: 28px 46px 23px;
        margin-bottom: 20px;
    }

    .account-info .btn-green {
        width: auto;
        font-size: 12px;
        line-height: 22px;
        padding: 9px 24px;
        height: 35px;
    }

    .account-title-block {
        text-align: center;
        font-size: 16px;
    }

    .tab-block:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .diploma-block {
        padding: 0;
    }

    .diploma-block .delete {
        top: -3px;
        right: -3px;
        font-size: 28px;
        line-height: 28px;
    }

    .diploma-block .diploma-title {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .diploma-block .diploma-name {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .diploma-block .diploma-description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        width: 90%;
    }

    .diploma-block .diploma-image {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .diploma-block .btn-form-white {
        border: 1px solid #000;
        padding: 6px 15px 7px;
        width: 154px;
    }

    .filter-menu {
        margin-bottom: 29px;
    }

    .filter-menu a {
        font-size: 14px;
    }

    .event-block {
        padding: 15px 200px 15px 149px;
    }

    .event-date-block, .event-image-block {
        width: 134px;
        padding-top: 15px;
    }

    .event-date-block span {
        font-size: 16px;
        line-height: 30px;
    }

    .event-info-block span {
        font-size: 16px;
        line-height: 30px;
    }

    .event-actions-block {
        position: static;
        height: auto;
        width: auto;
        text-align: left;
        padding: 0;
        margin-top: 3px;
        min-height: 25px;
    }

    .event-actions-block a {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 35px;
        font-size: 18px;
        line-height: 20px;
        padding: 8px 0;
        width: 171px;
    }

    .event-actions-block a.btn-white {
        line-height: 18px;
    }

    .event-actions-block a:not(:last-child) {
        margin-right: 0;
    }

    .event-actions-block a:last-child {
        top: 60px;
    }

    .event-actions-block span {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .account-title-block {
        font-size: 12px;
        line-height: 18px;
    }

    .account-menu-block .account-info {
        padding: 17px 20px 2px;
    }

    .account-name {
        font-size: 14px;
        line-height: 24px;
    }

    .account-type {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .account-menu .account-menu-col {
        float: left;
        width: 100%;
    }

    .account-menu .account-menu-col:first-child {
        border-right: none;
    }

    .account-menu .item {
        padding-top: 1px;
        padding-left: 55px;
        font-size: 14px;
        line-height: 38px;
        background-size: auto 50%;
    }

    .account-registrations {
        background-position: 18px 8px;
    }

    .account-calendar {
        background-position: 18px 10px;
    }

    .account-favorites {
        background-position: 18px 12px;
    }

    .account-profile {
        background-position: 20px 11px;
    }

    .account-profinfo {
        background-position: 20px 11px;
    }

    .account-statistic {
        background-position: 20px 11px;
    }

    .account-settings {
        background-position: 20px 10px;
    }

    .account-logout {
        background-position: 23px 9px;
    }

    .account-menu-block .account-info:last-child {
        margin-top: 20px;
        padding: 17px 46px 14px;
        margin-bottom: 23px;
    }

    .account-info .text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    .account-info .text br {
        display: inherit;
    }

    .account-info .btn-green {
        width: 152px;
        font-size: 8px;
        line-height: 12px;
        display: inline-block;
        align-items: center;
        letter-spacing: 1px;
        padding: 7px 0;
        height: 25px;
        text-align: center;
    }

    .account-tabs-block .tab-block {
        padding: 12px 16px;
    }

    .filter-menu {
        text-align: center;
        margin-top: -15px;
        margin-bottom: 15px;
        margin-left: calc(-100% + 290px / 2);
        margin-right: calc(-100% + 290px / 2);
        border-top: 2px solid #FAFAFA;
        border-bottom: 2px solid #FAFAFA;
        padding: 10px 0;
    }

    .filter-menu a {
        display: block;
        font-size: 10px;
        line-height: 26px;
    }

    .filter-menu a:after {
        display: none;
    }

    .filter-menu a:not(:last-child) {
        margin-right: 0;
    }

    .event-block {
        padding: 0;
    }

    .event-date-block, .event-image-block {
        position: static;
        width: 100%;
        height: auto;
    }

    .event-date-block {
        padding: 15px 20px 8px;
        text-align: left;
    }

    .event-date-block span {
        display: inline-block;
    }

    .event-date-block span:last-child {
        float: right;
    }

    .event-info-block {
        padding: 5px 10px 0;
    }

    .event-info-block span {
        line-height: 34px;
    }

    .event-date-block span {
        font-size: 16px;
        line-height: 20px;
    }

    .event-actions-block {
        padding: 0 12px 18px;
        text-align: center;
        clear: both;
    }

    .event-actions-block span {
        display: block;
        text-align: left;
        width: 60%;
        margin-top: 7px;
    }

    .event-actions-block a {
        position: static;
        width: 152px;
        height: 25px;
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 9px;
        letter-spacing: 1px;
    }

    .event-actions-block a.btn-white {
        line-height: 8px;
    }

    .event-actions-block a + a {
        margin-top: 10px;
    }

    .event-image-block {
        float: left;
        width: 45%;
    }
    .event-image-block + .event-info-block {
        float: left;
        width: 55%;
        padding: 30px 48px 0 10px;
        text-align: center;
        min-height: 114px;
    }

    .event-image-block + .event-info-block span {
        line-height: 26px;
    }
}