#account-content {
    padding: 37px 0;
}

.account-title-block {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.account-menu-block {
    float: left;
    width: 420px;
    text-align: center;
}

.account-menu-block .account-info {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 29px 46px 2px;
}

.account-menu-block .account-info:last-child {
    margin-top: 30px;
    padding: 23px 46px;
}

.account-tabs-block {
    float: right;
    width: calc(1630px - 480px);
}

.account-tabs-block .tab-block {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 30px 56px;
}

.tab-block:not(:last-of-type) {
    margin-bottom: 60px;
}

.account-info .specialist-image-block {
    margin-bottom: 18px;
}

.account-name {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.account-type {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.account-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.account-menu li {
    display: block;
    font-size: 20px;
    line-height: 59px;
    padding-left: 61px;
    border-top: 1px solid #D5D5D5;
    text-align: left;
}

.account-menu a {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    line-height: 26px;
}

.account-menu a:after {
    content: '';
    display: block;
    position: relative;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #000;
    transition: all linear 0.2s;
}

.account-menu a:hover:after {
    width: 100%;
}

.account-menu a.active {
    font-weight: bold;
}

.account-registrations {
    background: url("/css/imgs/account-registrations.svg") no-repeat;
    background-position: 5px 13px;
}

.account-calendar {
    background: url("/css/imgs/account-calendar.svg") no-repeat;
    background-position: 2px 13px;
}

.account-favorites {
    background: url("/css/imgs/account-favorites.svg") no-repeat;
    background-position: 5px 19px;
}

.account-profile {
    background: url("/css/imgs/account-profile.svg") no-repeat;
    background-position: 4px 17px;
}

.account-profinfo {
    background: url("/css/imgs/account-profinfo.svg") no-repeat;
    background-position: 0px 15px;
}

.account-statistic {
    background: url("/css/imgs/account-statistic.svg") no-repeat;
    background-position: 0px 15px;
}

.account-settings {
    background: url("/css/imgs/account-settings.svg") no-repeat;
    background-position: 0px 15px;
}

.account-logout {
    background: url("/css/imgs/account-logout.svg") no-repeat;
    background-position: 5px 13px;
}

.account-info .btn-green {
    width: 100%;
}

.account-info .text {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 22px;
}

.filter-menu {
    margin-bottom: 49px;
}

.filter-menu a {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: #000;
}

.filter-menu a:not(:last-child) {
    margin-right: 45px;
}

.filter-menu a.active {
    font-weight: bold;
}

.filter-menu a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: #000;
    transition: all linear 0.2s;
}

.filter-menu a:hover:after {
    width: 100%;
}

.event-block {
    background: #FAFAFA;
    border-radius: 5px;
    position: relative;
    padding: 22px 450px 24px 221px;
    overflow: hidden;
}

.event-block:not(:last-child) {
    margin-bottom: 21px;
}

.event-date-block,
.event-image-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 185px;
    height: 100%;
    text-align: center;
    padding-top: 27px;
}
.event-image-block {
    padding-top: 14px;
}

.event-image-block .image-wrapper {
    width: 87px;
    height: 87px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.event-image-block .image-wrapper img {
    width: 100%;
}

.privat .follow,
.privat .event-date-block {
    background: #5985AD;
}

.event .follow,
.event .event-date-block {
    background: #59ADA8;
}

.group .follow,
.group .event-date-block {
    background: #59AD6B;
}

.event-date-block span {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.event-info-block {
}

.event-info-block span {
    display: block;
    font-size: 24px;
    line-height: 35px;
}

.event-actions-block {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    width: 480px;
    padding: 33px 30px 0 0;
}

.event-actions-block a {
    height: 50px;
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
    letter-spacing: 0px;
    padding: 14px 18px;
}

.event-actions-block a:not(:last-child) {
    margin-right: 20px;
}