#contacts-content {
    padding: 100px 0 117px;
}

#contacts-content .contacts-block {
    width: 1265px;
    height: 710px;
    margin: 0 auto;
}

#contacts-content .contacts-block:before,
#contacts-content .contacts-block:after {
    content: '';
    clear: both;
    display: table;
}

#contacts-content .contacts-info {
    width: 530px;
    height: 100%;
    float: left;
    background: #222222;
    color: #fff;
    padding: 32px;
}

#contacts-content .contacts-form {
    width: 735px;
    height: 100%;
    float: left;
    padding: 32px 42px;
    background: #FAFAFA;
}

#contacts-content a {
    color: #fff;
    text-decoration: none;
}

#contacts-content .contacts-row {
    display: flex;flex-flow: wrap;
}

#contacts-content .contacts-row > * {
    width: 100%;
}

#contacts-content .contacts-group {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    padding-left: 135px;
}

#contacts-content .contacts-separator {
    height: 37px;
    clear: both;
}

#contacts-content .contacts-email {
    background: url("/css/imgs/contacts-email.svg") no-repeat 44px 10px;
    min-height: 97px;
}

#contacts-content .contacts-phone {
    background: url("/css/imgs/contacts-phone.svg") no-repeat 59px 7px;
    line-height: 57px;
    min-height: 146px;
}

#contacts-content .contacts-timetable {
    background: url("/css/imgs/contacts-timetable.svg") no-repeat 55px 9px;
    line-height: 34px;
}

#contacts-content .contacts-timetable small {
    font-size: 16px;
}

#contacts-content .contacts-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

#contacts-content .contacts-group-input {
    float: left;
    height: 85px;
    width: 50%;
}

#contacts-content .contacts-group-input:nth-of-type(even) {
    padding-left: 7%;
}

#contacts-content .contacts-group-input:nth-of-type(odd) {
    padding-right: 9%;
}

#contacts-content .contacts-group-input input {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    color: #AAAAAA;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#contacts-content .contacts-group-input .error-text {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #AE0404;
    display: inline-block;
    margin-top: 4px;
}

#contacts-content p {
    clear: both;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    color: #000000;
}

#contacts-content textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 144px;
    min-height: 144px;
    max-height: 144px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

#contacts-content button {
    float: right;
    width: 200px;
    height: 48px;
    background: #DCDCDC;
    border-radius: 5px;
    border: none;
    font-family: Proxima Nova, sans-serif;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 34px 15px 0 0;
    transition: all linear .1s;
}

#contacts-content button:hover {
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    #contacts-content .contacts-block {
        width: 688px;
        height: auto;
    }

    #contacts-content .contacts-info,
    #contacts-content .contacts-form {
        width: 100%;
        padding: 25px 36px;
    }

    #contacts-content .contacts-title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 12px;
    }

    #contacts-content .contacts-row > * {
        width: 50%;
    }

    #contacts-content .contacts-group {
        font-size: 16px;
        line-height: 22px;
        padding-left: 57px;
    }

    #contacts-content .contacts-email {
        background-position: 1px 4px;
        background-size: 36px;
        min-height: 30px;
        order: 0;
    }

    #contacts-content .contacts-phone {
        background-position: 15px 8px;
        background-size: 20px;
        line-height: 36px;
        min-height: 66px;
        order: 2;
    }

    #contacts-content .contacts-timetable {
        background-position: 13px 3px;
        background-size: 22px;
        line-height: 23px;
        order: 1;
    }

    #contacts-content .contacts-timetable small {
        font-size: 12px;
    }

    #contacts-content .contacts-group-input {
        height: 75px;
    }

    #contacts-content .contacts-separator {
        height: 7px;
    }

    #contacts-content .contacts-group-input:nth-of-type(odd) {
        padding-right: 7%;
    }

    #contacts-content .contacts-group-input input {
        font-size: 18px;
        line-height: 40px;
    }

    #contacts-content p.label {
        display: none;
    }

    #contacts-content button {
        width: 200px;
        height: 35px;
        margin: 38px 0 0 0;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    #contacts-content {
        padding: 20px 0 20px;
    }

    #contacts-content .contacts-block {
        width: 280px;
    }

    #contacts-content .contacts-info {
        width: 100%;
        padding: 15px 20px;
    }

    #contacts-content .contacts-form {
        width: 100%;
        padding: 20px;
    }

    #contacts-content .contacts-title {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 12px;
        text-align: center;
    }

    #contacts-content .contacts-form .contacts-title {
        margin-bottom: 20px;
    }

    #contacts-content .contacts-row > * {
        width: 100%;
    }

    #contacts-content .contacts-group {
        font-size: 12px;
        line-height: 20px;
        padding-left: 53px;
    }

    #contacts-content .contacts-email {
        background-position: 14px 4px;
        background-size: 24px;
        min-height: 26px;
        order: 0;
    }

    #contacts-content .contacts-phone {
        background-position: 22px 7px;
        background-size: 14px;
        line-height: 30px;
        min-height: 77px;
        order: 1;
    }

    #contacts-content .contacts-timetable {
        width: 100%;
        float: none;
        background-position: 24px 2px;
        background-size: 16px;
        line-height: 18px;
        margin-top: 0;
        min-height: 61px;
        order: 2;
    }

    #contacts-content .contacts-timetable small {
        font-size: 10px;
        line-height: 20px;
    }

    #contacts-content .contacts-group-input {
        width: 100%;
        float: none;
        padding: 0 !important;
        height: auto;
        margin-bottom: 4px;
    }

    #contacts-content .contacts-group-input input {
        font-size: 14px;
        line-height: 20px;
    }

    #contacts-content .contacts-separator {
        display: none;
    }

    #contacts-content .contacts-group-input .error-text {
        font-size: 12px;
        line-height: 20px;
        margin-top: 2px;
    }

    #contacts-content textarea {
        height: 150px;
        min-height: 150px;
        max-height: 150px;
    }

    #contacts-content button {
        width: 152px;
        height: 25px;
        font-size: 14px;
        line-height: 12px;
        margin: 14px 0 0 0;
    }
}