@font-face {
	font-family: "ObjectSans"; 
	src:
		url("fonts/ObjectSans/BoldWeb/ObjectSans-Bold.eot");
	src:
		url("fonts/ObjectSans/BoldWeb/ObjectSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("fonts/ObjectSans/BoldWeb/ObjectSans-Bold.woff") format("woff"),
		url("fonts/ObjectSans/BoldWeb/ObjectSans-Bold.woff2") format("woff2"),
		url("fonts/ObjectSans/BoldWeb/ObjectSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700; 
}
@font-face {
	font-family: "ObjectSans"; 
	src:
		url("fonts/ObjectSans/Medium/ObjectSans-Medium.eot");
	src:
		url("fonts/ObjectSans/Medium/ObjectSans-Medium.eot?#iefix") format("embedded-opentype"),
		url("fonts/ObjectSans/Medium/ObjectSans-Medium.woff") format("woff"),
		url("fonts/ObjectSans/Medium/ObjectSans-Medium.woff2") format("woff2"),
		url("fonts/ObjectSans/Medium/ObjectSans-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500; 
}
@font-face {
	font-family: "ObjectSans"; 
	src:
		url("fonts/ObjectSans/RegularWeb/ObjectSans-Regular.eot");
	src:
		url("fonts/ObjectSans/RegularWeb/ObjectSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("fonts/ObjectSans/RegularWeb/ObjectSans-Regular.woff") format("woff"),
		url("fonts/ObjectSans/RegularWeb/ObjectSans-Regular.woff2") format("woff2"),
		url("fonts/ObjectSans/RegularWeb/ObjectSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400; 
}
@font-face {
	font-family: "ObjectSans"; 
	src:
		url("fonts/ObjectSans/Light/ObjectSans-Light.eot");
	src:
		url("fonts/ObjectSans/Light/ObjectSans-Light.eot?#iefix") format("embedded-opentype"),
		url("fonts/ObjectSans/Light/ObjectSans-Light.woff") format("woff"),
		url("fonts/ObjectSans/Light/ObjectSans-Light.woff2") format("woff2"),
		url("fonts/ObjectSans/Light/ObjectSans-Light.ttf") format("truetype");
	font-style: normal; 
	font-weight: 300;
}