footer {
    background: #FAFAFA;
}

.footer_menu {
    display: flex;
    justify-content: space-around;
}

.footer_menu .half_first {
    width: 47%;
}

.footer_menu .half_second {
    width: 48%;
}

.footer__item {
    display: flex;
    justify-content: space-between;
}

/* Social Buttons */
#footer .social_buttons {
    margin-top: 54px;
    margin-left: -17px;
    width: 38%;
}

#footer .social_buttons img {
    width: 79%;
}

#footer .social_buttons__link {
    margin-top: 47px;

}

#footer .social_buttons__link a {
    margin-right: 4px;
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: all linear .1s;
}

#footer .social_buttons__link a.instagram {
    background: url(../css/imgs/inst.svg) no-repeat;
}

#footer .social_buttons__link a.instagram:hover {
    background: url(../css/imgs/inst_hover.svg) no-repeat;
}

#footer .social_buttons__link a.facebook {
    background: url(../css/imgs/fb.svg) no-repeat;
}

#footer .social_buttons__link a.facebook:hover {
    background: url(../css/imgs/fb_hover.svg) no-repeat;
}

#footer .social_buttons__link a.youtube {
    background: url(../css/imgs/ytb.svg) no-repeat;
}

#footer .social_buttons__link a.youtube:hover {
    background: url(../css/imgs/ytb_hover.svg) no-repeat;
}

/* Footer List */

#footer .footer_list {
    margin-top: 53px;
    width: 33%;
}

#footer h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 44px;
    color: #000000;
}

#footer .footer_list ul {
    list-style: none;
    padding-left: 0;
}

#footer .footer_list li {
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #000000;
}

#footer .footer_list li a {
    text-decoration: none;
    color: #000000;
}

#footer .footer_list li a:hover {
    text-decoration: underline;
    color: #000;
    transition: .3s;
}

/* Footer Contacts */

#footer .footer_contacts {
    margin-top: 52px;
    margin-left: 60px;
}

#footer .footer_contacts ul {
    list-style: none;
    padding-left: 0;
    margin-left: 46px;
}

#footer .footer_contacts li {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

#footer .footer_contacts li::before {
    position: absolute;
    text-align: center;
    line-height: 43px;
}

.footer_contacts li.mail::before {
    content: url(../css/imgs/mail.svg);
    left: -48px;
}

.footer_contacts li.phone::before {
    content: url(../css/imgs/phone.svg);
    left: -38px;
    top: 3px;
}

#footer .footer_contacts li a {
    text-decoration: none;
    color: #000000;
}

#footer .footer_contacts li a:hover {
    text-decoration: none;
    transition: .3s;
}

#footer p.copyright {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 44px;
    color: #000000;
    margin-top: 70px;
}

/* Media Style Footer */

@media (max-width: 1199px) {

    .footer_menu .half_first {
        width: 63%;
    }

    #footer .social_buttons {
        width: 60%;
        margin-top: 37px;
        margin-left: 25px;
    }

    #footer .social_buttons img {
        width: 87%;
    }

    #footer .social_buttons__link {
        margin-top: 40px;
    }

    #footer h3 {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    #footer .footer_list {
        width: 28%;
        margin-top: 43px;
    }

    #footer .footer_list ul {
        padding-bottom: 5px;
    }

    #footer .footer_list li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    #footer .footer_contacts {
        margin-top: 44px;
        margin-left: 53px;
    }

    #footer .footer_contacts ul {
        margin-left: 45px;
    }

    #footer .footer_contacts h3.contacts {
        margin-bottom: 10px;
    }

    #footer .footer_contacts li {
        font-size: 16px;
        line-height: 22px;
        margin-top: 16px;
        margin-bottom: -3px;
    }

    #footer .footer_contacts li::before {
        left: -43px;
        line-height: 33px;
    }

    #footer p.copyright {
        margin-top: 44px;
    }

}

@media (max-width: 767px) {
    .footer_menu {
        display: block;
        padding: 21px 0px 10px 8px;
    }

    .footer_menu .half_first {
        width: 100%;
    }

    .footer__item {
        display: block;
    }

    #footer .social_buttons {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        display: flex;
    }

    #footer .social_buttons .footer__logo {
        width: 60%;
    }

    #footer .social_buttons__link {
        margin-top: 2px;
        margin-left: 35px;
    }

    #footer .social_buttons__link a {
        margin-right: 0px;
        display: inline-block;
        width: 22px;
        height: 22px;
    }

    #footer .social_buttons__link a.instagram {
        background: url(../css/imgs/inst_small.png) no-repeat;
    }

    #footer .social_buttons__link a.instagram:hover {
        background: url(../css/imgs/inst_small_hover.png) no-repeat;
    }

    #footer .social_buttons__link a.facebook {
        background: url(../css/imgs/fb_small.png) no-repeat;
    }

    #footer .social_buttons__link a.facebook:hover {
        background: url(../css/imgs/fb_small_hover.png) no-repeat;
    }

    #footer .social_buttons__link a.youtube {
        background: url(../css/imgs/ytb_small.png) no-repeat;
    }

    #footer .social_buttons__link a.youtube:hover {
        background: url(../css/imgs/ytb_small_hover.png) no-repeat;
    }

    #footer .footer_list {
        width: 75%;
        margin-top: 13px;
        margin-left: 0px;
    }

    #footer h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 11px;
    }

    #footer .footer_list ul {
        display: flex;
        justify-content: space-between;
    }

    #footer .footer_list li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer_menu .half_second {
        width: 100%;
        margin-top: 60px;
    }

    #footer .footer_contacts {
        margin-top: -45px;
        margin-left: -1px;
    }

    #footer .footer_contacts h3.contacts {
        margin-bottom: 0px;
    }

    #footer .footer_contacts ul {
        margin-left: 39px;
    }

    #footer .footer_contacts li {
        font-size: 14px;
        margin-top: 11px;
        margin-bottom: -3px;
    }

    #footer .footer_contacts li.mail::before {
        content: url(../css/imgs/mail_small.svg);
        top: -4px;
        left: -39px;
    }

    #footer .footer_contacts li.phone::before {
        content: url(../css/imgs/phone_small.svg);
        top: -1px;
        left: -28px;
    }

    #footer p.copyright {
        font-size: 12px;
        line-height: 18px;
        margin-top: 25px;
    }
}