::-webkit-input-placeholder { /* Edge */
    color: #939393;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #939393;
}

::placeholder {
    color: #939393;
}

.form-group:not(:last-child) {
    text-align: left;
    margin-bottom: 17px;
}

.form-group label {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 3px;
    display: inline-block;
}

.form-group .error-message {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    color: #AE0404;
    float: right;
}

.form-group input {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
}

.form-group .btn-submit {
    margin-top: 13px;
}

.form-group p {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;
}

.form-group p a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.btn-form-green {
    display: inline-block;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px 55px 10px;
    cursor: pointer;
    color: #fff;
    transition: all linear .1s;
    background: #83C465;
}

.btn-form-green:hover {
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}

.btn-form-grey {
    display: inline-block;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px 55px 10px;
    cursor: pointer;
    color: #fff;
    transition: all linear .1s;
    background: #BFBFBF;
}

.btn-form-grey:hover {
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}

.btn-form-white {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #fff;
    padding: 11px 0 9px;
    color: #000000;
    transition: all linear .1s;
}

.btn-form-white:hover {
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #D9D9D9;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: -2px;
    position: relative;
}

input[type="checkbox"]:checked ~ i:before {
    content: '';
    background: url('/css/imgs/checkbox-arrow.svg') no-repeat 1px 3px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input[type="checkbox"] ~ span {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.action-block {
    margin-top: 16px;
}
.form-group p a:last-child {
    margin-left: 18px;
}
@media (max-width: 1199px) {
    .form-group:not(:last-child) {
        margin-bottom: 16px;
    }

    .form-group label {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .form-group input {
        font-size: 16px;
        line-height: 20px;
        height: 35px;
    }

    .form-group .error-message {
        font-size: 14px;
        line-height: 20px;
    }

    .btn-form-grey {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 0 7px;
    }

    .btn-form-white {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 0 7px;
    }

    .btn-form-green {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 0 7px;
    }

    input[type="checkbox"] ~ span {
        font-size: 16px;
        line-height: 20px;
    }

    .form-group p {
        font-size: 16px;
        line-height: 20px;
    }

    .form-group p a:last-child {
        margin-left: 33px;
    }

    .action-block {
        margin-top: 8px;
    }
}

@media (max-width: 767px) {
    .form-group:not(:last-child) {
        margin-bottom: 14px;
    }

    .form-group label {
        font-size: 14px;
        margin-bottom: 0;
    }

    .form-group input {
        height: 30px;
        font-size: 14px;
    }

    .form-group .error-message {
        font-size: 14px;
    }

    .btn-form-grey {
        height: 30px;
        font-size: 14px;
        padding: 5px 5px 6px;
    }

    .btn-form-white {
        height: 30px;
        font-size: 14px;
        padding: 5px 5px 6px;
    }

    .btn-form-green {
        height: 30px;
        font-size: 14px;
        padding: 5px 5px 6px;
    }

    input[type="checkbox"] ~ span {
        font-size: 14px;
    }

    .form-group p {
        font-size: 14px;
        line-height: 30px;
    }
}