::-webkit-input-placeholder { /* Edge */
    color: #939393;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #939393;
}

::placeholder {
    color: #939393;
}

.form-group:not(:last-of-type) {
    text-align: left;
    margin-bottom: 17px;
}

.form-row {
    margin-left: -20px;
    margin-right: -20px;
}

.form-row:before,
.form-row:after {
    content: '';
    display: table;
    clear: both;
}

.form-col {
    float: left;
    width: 50%;
    padding: 0 20px;
}

.form-col:not(:last-child) {
    margin-bottom: 17px;
}

.title-form {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 26px;
}

.group-separator {
    clear: both;
}

.form-group label {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 3px;
    display: inline-block;
}

.form-group .error-message {
    font-weight: 300;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    color: #AE0404;
    float: right;
}

.form-group sub {
    font-size: 16px;
    line-height: 20px;
    color: #8F8F8F;
    margin-bottom: 3px;
    display: inline-block;
}

.form-group input {
    font-weight: 300;
    font-size: 24px;
    line-height: 60px;
    width: 100%;
    height: 50px;
    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    transition: all linear .1s;
}

.form-group input:focus {
    border: 2px solid #64BCCF;
}

.form-group input.center {
    text-align: center;
}

.form-group input.date {
    background: #fff url('/css/imgs/account-calendar-input.svg') no-repeat;
    background-position: 19px center;
    padding-left: 55px;
}

.form-group button {
    width: 100%;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 230px;
    min-height: 100px;
    max-height: 400px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Raleway;
    font-size: 24px;
    line-height: 34px;
    padding: 15px 20px;
    outline: none;
}

textarea:focus {
    border: 2px solid #64BCCF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    text-align: center;
    -moz-appearance: textfield;
}

.quantity-block {
    position: relative;
}

.quantity-block {
    position: relative;
}

.quantity-block .minus,
.quantity-block .plus {
    position: absolute;
    top: 50%;
    z-index: 1;
    background: none;
    border: none;
    font-size: 24px;
    outline: none;
    line-height: 16px;
    margin-top: -12px;
    height: 24px;
    width: 24px;
}

.quantity-block .minus {
    left: 12px;
}

.quantity-block .plus {
    right: 12px;
}

.form-group .btn-submit {
    margin-top: 13px;
}

.btn-submit-margin {
    margin-top: 30px;
}

.form-group p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;
}

.form-group p a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

input[type="checkbox"] {
    display: none;
}

.days {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.day-input-block {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.day-input-block label {
    display: block;
    width: 100%;
    height: 100%;
    background: #C4C4C4;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    transition: all linear .1s;
    cursor: pointer;
    margin: 0;
}

.day-input-block input[type="checkbox"]:checked + label {
    background: #83C465;
}

input[type="checkbox"] + i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: sub;
    position: relative;
    border: 2px solid #E6E6E6;
}

input[type="checkbox"]:checked ~ i:before {
    content: '';
    background: url('/css/imgs/checkbox-arrow.svg') no-repeat center center;
    background-size: 85% 85%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input[type="checkbox"] ~ span {
    font-size: 24px;
    line-height: 32px;
}

.small input[type="checkbox"] + i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #D9D9D9;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: -2px;
    position: relative;
}

.small input[type="checkbox"]:checked ~ i:before {
    content: '';
    background: url(/css/imgs/checkbox-arrow.svg) no-repeat center center;
    background-size: 96%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.small input[type="checkbox"] ~ span {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.action-block {
    margin-top: 16px;
}

.form-group p a:last-child {
    margin-left: 18px;
}

.inputfile {
    width: 0.1px !important;
    height: 0.1px !important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    position: relative;
    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    padding: 0;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    font-size: 24px;
    line-height: 20px;
    margin: 0;
}

.inputfile + label b {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 1;
    padding-top: 15px;
    width: 157px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 5px;
    height: calc(100% + 4px);
    font-size: 24px;
    line-height: 20px;
    font-weight: normal;
    transition: all linear .1s;
}

.inputfile + label b:hover {
    background: #000;
    color: #fff;

}

.inputfile + label span {
    padding: 15px 25px 0;
    display: block;
    height: 100%;
    width: calc(100% - 160px);
    overflow: hidden;
}


@media (max-width: 1199px) {
    .form-row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .form-col {
        padding: 0 10px;
    }

    .form-col:not(:last-child) {
        margin-bottom: 15px;
    }

    .title-form {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form-group:not(:last-of-type) {
        margin-bottom: 16px;
    }

    .form-group label {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .inputfile + label {
        height: 35px;
    }

    .inputfile + label span {
        padding: 7px 25px 0;
    }

    .inputfile + label b {
        padding-top: 7px;
        width: 111px;
        font-size: 16px;
    }

    .day-input-block {
        width: 30px;
        height: 30px;
    }

    .day-input-block label {
        font-size: 12px;
        line-height: 32px;
    }

    .form-group sub {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .days {
        margin-top: 27px;
    }

    .form-group input.date {
        background-position: 10px center;
        background-size: auto 65%;
        padding-left: 40px;
    }

    .form-group input {
        font-size: 16px;
        line-height: 20px;
        height: 35px;
    }

    .form-group .error-message {
        font-size: 14px;
        line-height: 20px;
    }

    .btn-form-grey {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 0 7px;
    }

    input[type="checkbox"] ~ span {
        font-size: 16px;
        line-height: 20px;
    }

    .form-group p {
        font-size: 16px;
        line-height: 20px;
    }

    .form-group p a:last-child {
        margin-left: 33px;
    }

    .action-block {
        margin-top: 8px;
    }

    input[type="checkbox"] + i {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: sub;
    }

    textarea {
        padding: 10px 15px;
        outline: none;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .days {
        margin-top: 10px;
    }

    .day-input-block {
        width: 22px;
        height: 22px;
    }

    .form-group .day-input-block label {
        font-size: 10px;
        line-height: 24px;
    }

    .form-group:not(:last-of-type) {
        margin-bottom: 14px;
    }

    .form-col {
        width: 100%;
    }

    .form-col .form-col {
        width: 50%;
        margin: 0;
    }

    .form-group label {
        font-size: 14px;
        margin-bottom: 0;
    }

    .form-group input {
        height: 30px;
        font-size: 14px;
    }

    .form-group .error-message {
        font-size: 14px;
    }

    .btn-form-grey {
        height: 30px;
        font-size: 14px;
        padding: 5px 5px 6px;
    }

    input[type="checkbox"] ~ span {
        font-size: 14px;
    }

    .form-group p {
        font-size: 14px;
        line-height: 30px;
    }
}