/* Group lessons */

#group_lesson-list-content {
    padding: 30px 0;
    text-align: center;
}

#group_lesson-list-content .group_lesson-filter-wrapper {
    font-family: Montserrat, sans-serif;
}

#group_lesson-list-content .group_lesson-filter-wrapper {
    display: inline-block;
    vertical-align: text-bottom;
}

#group_lesson-list-content .group_lesson-filter-group {
    display: inline-block;
}

#group_lesson-list-content .group_lesson-filter-group:not(:last-child) {
    margin-right: 65px;
}

#group_lesson-list-content .group_lesson-filter-wrapper label {
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    letter-spacing: 2px;
    margin-right: 18px;
}

#group_lesson-list-content .group_lesson-filter-wrapper select {
    background: 0;
    border-radius: 0;
    border: none;
    border: 0;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 3px;
    color: #333333;
    -webkit-appearance: none;
    padding-right: 28px;
    background: url('/css/imgs/specialist-select-down.svg') no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: center;
}


/* Group lessons Index */

#open-group-lesson {
	margin-top: 49px;
	margin-bottom: 80px;
}

#open-group-lesson .top-block {
	display: flex;
	justify-content: space-between;
}

#open-group-lesson .image_block img {
    width: calc(100% - 442px);
}

#open-group-lesson h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 3px;
	text-transform: uppercase;
    margin-bottom: 17px;
}
#open-group-lesson h3.center {
	text-align: center;
	margin-top: -5px;
    margin-bottom: 37px;
}

#open-group-lesson .content-block {
	width: calc(100% - 452px);
    border-right: 2px solid #F8F8F8;
    margin-right: 20px;
}

#open-group-lesson .content-block .image_block {
	position: relative;
}

#open-group-lesson .content-block .right_info {
	position: absolute;
    width: 382px;
    top: 0px;
    right: 30px;
    font-size: 22px;
    line-height: 28px;	
}

#open-group-lesson .content-block .right_info span {
	display: block;
	padding-bottom: 10px;
}

#open-group-lesson .content-block-link {
	position: absolute;
	z-index: 1;
	margin-top: 3px;
}
#open-group-lesson .content-block-link a.heart {
    background: url(../css/imgs/specialist-heart-link.svg) no-repeat center center;
    background-size: auto 100%;
    width: 33px;
	height: 31px;
	margin-right: 5px;
	display: inline-block;
}

#open-group-lesson .content-block-link a.heart:hover {
    background: url(../css/imgs/specialist-heart-link_hover.svg) no-repeat center center;
    background-size: auto 100%;
}
#open-group-lesson .content-block-link a.copy {
    background: url(../css/imgs/specialist-copy-link.svg) no-repeat center center;
    background-size: auto 100%;
	width: 33px;
	height: 32px;
	display: inline-block;
}

#open-group-lesson .content-block-link a.copy.tooltip,
#open-group-lesson .content-block-link a.copy:active {
    background: url(../css/imgs/specialist-copy-link_hover.svg) no-repeat center center;
    background-size: auto 100%;
}

#open-group-lesson .clipboard:after {
    top: 2px;
    left: 50px;
}

#open-group-lesson p.lesson-info {
	width: 96%;
	margin-top: 20px;
	font-size: 22px;
	line-height: 28px;	
}

#open-group-lesson .specialist-block {
    width: 420px;
}

#open-group-lesson .calendar {
	margin-top: 46px;
}
#open-group-lesson .calendar img {
	width: 100%;
}

#open-group-lesson .title-left-lesson {
	margin-top: 76px;
	margin-bottom: 40px;
}

#open-group-lesson .title-left-lesson span {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#open-group-lesson .slider__item {
    width: 481px;
    margin-right: 96px;
}

#open-group-lesson .tile-block h2 {
    border-bottom: none;
}

#open-group-lesson .slider-manage-block {
    margin-top: 53px;
}

/* Main Block */


#main-list_block .tile-block h2 {
	border-bottom: none;
}

.tile-block .lesson_name::after {
    content: url('../css/imgs/group_lesson_icon.svg');
    margin-left: 20px;
    vertical-align: -4px;
}


/* Media Style*/

@media (max-width: 1199px) {

	#open-group-lesson {
	    margin-top: 16px;
	    margin-bottom: 71px;
	}

	#open-group-lesson .top-block {
	    padding: 0 0px;
	}

	#open-group-lesson .content-block {
	    width: 64%;
	    border-right: 2px solid #F8F8F8;
	}

	#open-group-lesson h3 {
	    font-size: 16px;
	    line-height: 37px;
	    letter-spacing: 2px;
	    margin-bottom: 0px;
	}

	#open-group-lesson h3.center {
	    text-align: center;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	#open-group-lesson .image_block img {
	    width: 94%;
	}

	#open-group-lesson .content-block .right_info {
	    top: 231px;
	    left: 0px;
	    font-size: 16px;
	    line-height: 22px;
	}

	#open-group-lesson .content-block .right_info span {
	    padding-bottom: 7px;
	}

	#open-group-lesson .content-block-link a.heart {
	    width: 20px;
	    height: 17px;
	    margin-right: 3px;
	}
	#open-group-lesson .content-block-link a.copy {
	    width: 20px;
	    height: 17px;
	}

	#open-group-lesson .clipboard:after {
	    top: 0px;
	    left: 30px;
	}

	#open-group-lesson p.lesson-info {
		width: 92%;
	    margin-top: 93px;
	    font-size: 16px;
	    line-height: 20px;
	}

	#open-group-lesson .specialist-block {
	    width: 389px;
	}

	#open-group-lesson .title-left-lesson {
	    margin-top: 68px;
	    margin-bottom: 22px;
	    margin-left: -4px;
	}

	#open-group-lesson .title-left-lesson span {
	    font-size: 16px;
	    line-height: 22px;
	}

	#open-group-lesson .slider__item {
	    width: 325px;
	    margin-right: 30px;
	}

	#open-group-lesson .slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	#open-group-lesson .slider-manage-block {
	    margin-top: 0px;
    	margin-left: -4px;
	}

	#group_lesson-list-content {
	    padding: 7px 0px;
	    text-align: left;
	}

	#group_lesson-list-content .group_lesson-filter-wrapper label {
	    font-size: 16px;
	    margin-right: 18px;
	}
	#group_lesson-list-content .group_lesson-filter-wrapper select {
	    font-size: 16px;
	    line-height: 37px;
	    padding-right: 28px;
	}

	#main-list_block {
  		margin-top: 17px;
  		margin-bottom: 30px;
	}

	#main-list_block .tile-block .image_wrapper .bottom_info {
	    padding: 2px 24px 1px 15px;
	    font-size: 14px;
	    line-height: 18px;
	}

	.tile-block .lesson_name::after {
	    content: url(../css/imgs/group_lesson_icon_middle.svg);
	    margin-left: 14px;
	    vertical-align: -3px;
	}
}

@media (max-width: 767px) {

	#open-group-lesson .slider__item {
        width: 280px;
    }

    #open-group-lesson .container {
	    padding: 0 20px;
	}

	#open-group-lesson {
	    margin-top: 13px;
	    margin-bottom: 38px;
	}

	#open-group-lesson .top-block {
	    flex-direction: column;
	    padding: 0 0px;
	}

	#open-group-lesson .content-block {
	    width: 100%;
	    border-right: none;
	    margin-right: 0;
	}

	#open-group-lesson h3 {
	    font-size: 12px;
	    line-height: 18px;
	    margin-bottom: 14px;
	    text-align: center;
	}

	#open-group-lesson .image_block img {
	    width: 100%;
	}

	#open-group-lesson .content-block .right_info {
	    top: 207px;
	    font-size: 12px;
	    width: 211px;
	}

	#open-group-lesson .content-block .right_info span {
	    padding-bottom: 0px;
	}

	#open-group-lesson p.lesson-info {
	    width: 95%;
	    min-height: 252px;
	    margin-top: 95px;
	    font-size: 12px;
	    line-height: 18px;
	}

	#open-group-lesson .specialist-block {
	    width: 100%;
	    margin-top: 16px;
	}

	#open-group-lesson h3.center {
	    margin-bottom: 19px;
	}

	#open-group-lesson .title-left-lesson {
	    width: 86%;
	    margin-top: 24px;
	    margin-bottom: 18px;
	    margin-left: 0px;
	}

	#open-group-lesson .title-left-lesson span {
	    font-size: 12px;
	    line-height: 18px;
	    letter-spacing: 0px;
	}

	#open-group-lesson .slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	#open-group-lesson .slider-manage-block {
		margin-top: -3px;
    	margin-left: 0px;
	}

	#main-list_block {
		margin-bottom: 21px;
		margin-top: 20px;
	}

	#main-list_block .container {
	    padding: 0 20px;
	}

	#main-list_block .tile-block .image_wrapper .bottom_info {
	    font-size: 10px;
	    line-height: 21px;
	}

	#main-list_block .tile-block p.duration {
	    margin-left: 21px;
	}

	#main-list_block .tile-block p.duration::before {
	    left: -24px;
	}

    #group_lesson-list-content {
        padding: 0px 0px;
    }

    #group_lesson-list-content .group_lesson-filter-group:not(:last-child) {
	    margin-right: 30px;
	}

    #group_lesson-list-content .group_lesson-filter-wrapper label {
        font-size: 12px;
        letter-spacing: 1px;
    }

    #group_lesson-list-content .group_lesson-filter-wrapper select {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        padding-right: 28px;
        background: url('../css/imgs/specialist-select-down_small.svg') no-repeat;
        background-position-x: calc(100% - 5px);
        background-position-y: center;
    }

}