/* Group lessons */

#group_lesson-list-content {
    padding: 30px 0;
    text-align: center;
}

#group_lesson-list-content .group_lesson-filter-wrapper {
    font-family: Montserrat, sans-serif;
}

#group_lesson-list-content .group_lesson-filter-wrapper {
    display: inline-block;
    vertical-align: text-bottom;
}

#group_lesson-list-content .group_lesson-filter-group {
    display: inline-block;
}

#group_lesson-list-content .group_lesson-filter-group:not(:last-child) {
    margin-right: 0px;
}

#group_lesson-list-content .group_lesson-filter-wrapper label {
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    letter-spacing: 2px;
    margin-right: 18px;
}

#group_lesson-list-content .group_lesson-filter-wrapper select {
    background: 0;
    border-radius: 0;
    border: none;
    border: 0;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 3px;
    color: #333333;
    -webkit-appearance: none;
    padding-right: 28px;
    background: url('/css/imgs/specialist-select-down.svg') no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: center;
}
#group_lesson-list-content .group_lesson-filter-wrapper select.all_practice {
	background-position-x: calc(35% - 5px);
}


.wrapper__block {
	margin-right: 92px;
	margin-bottom: 64px;
	width: 482px;
	height: 100%;
	overflow: hidden;
}

.wrapper__block h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    margin-top: -5px;
}

.wrapper__block .image_size {
    position: relative;
}

.wrapper__block .image_size img {
    width: 100%;
}

.wrapper__block .image_size .bottom_info {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.31);
    padding: 8px 29px 2px 31px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.wrapper__block .image_size .bottom_info .lesson_name {
    vertical-align: 2px;
}

.wrapper__block .lesson_name::after {
    content: url('../css/imgs/group_lesson_icon.svg');
    margin-left: 20px;
    vertical-align: -6px;
}

.wrapper__block p.duration {
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -16px;
    margin-left: 25px;
    padding: 0;
    position: relative;
}
.wrapper__block p.state {
	font-size: 16px;
    line-height: 24px;
}

.wrapper__block p.duration::before {
    position: absolute;
    content: url('../css/imgs/stopwatch.svg');
    text-align: center;
    left: -25px;
    top: 5px;
}

.wrapper__block p.state {
    min-height: 72px;
    margin-top: -5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    overflow: hidden;
}

.wrapper__block a.small {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    transition: all linear .1s;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    left: 76px;
}

.wrapper__block a.small:hover {
    text-shadow: 0px 1px 1px black;
}

/* Media Style*/

@media (max-width: 1199px) {

	#group_lesson-list-content {
	    padding: 7px 20px;
	    text-align: left;
	}

	#group_lesson-list-content .group_lesson-filter-wrapper label {
	    font-size: 16px;
	    margin-right: 18px;
	}
	#group_lesson-list-content .group_lesson-filter-wrapper select {
	    font-size: 16px;
	    line-height: 37px;
	    padding-right: 28px;
	}

	.main-list_block {
		margin-bottom: 45px;
	}
	.wrapper__block {
		margin: 18px 0px 15px 20px;
	    width: 320px;
	}

	.wrapper__block .image_size .bottom_info {
	    left: 0;
	    bottom: 5px;
	    padding: 8px 29px 2px 31px;
	    font-size: 14px;
	}
	.wrapper__block .lesson_name::after {
	    content: url(../css/imgs/group_lesson_icon_middle.svg);
	    margin-left: 15px;
	    vertical-align: -3px;
	}

	.wrapper__block h2 {
	    font-size: 14px;
	    line-height: 22px;
	    margin-top: 7px;
	}

	.wrapper__block p.duration {
	    font-size: 14px;
	    line-height: 18px;
	    margin-top: 9px;
	    margin-left: 25px;
	    padding: 0;
	}

	.wrapper__block p.duration::before {
	    left: -25px;
	    top: -2px;
	}

	.wrapper__block p.state {
	    min-height: 80px;
	    margin-top: 8px;
	    font-size: 14px;
	    line-height: 20px;
	}

	.wrapper__block a.small {
	    font-size: 10px;
	    left: 123px;
	}
}

@media (max-width: 767px) {

	#group_lesson-list-content {
	    padding: 0px 20px;
	}

	#group_lesson-list-content .group_lesson-filter-wrapper label {
	    font-size: 12px;
	    letter-spacing: 1px;
	}
	#group_lesson-list-content .group_lesson-filter-wrapper select {
	    font-size: 12px;
	    line-height: 18px;
	    letter-spacing: 1px;
	    padding-right: 28px;
	    background: url('../css/imgs/specialist-select-down_small.svg') no-repeat;
	    background-position-x: calc(100% - 5px);
    	background-position-y: center;
	}

	.main-list_block {
		margin-bottom: 29px;
	}
	.wrapper__block {
		margin: 10px 0px 9px 5px;
	    width: 280px;
	}

	.wrapper__block .image_size .bottom_info {
	    left: 0;
	    bottom: 5px;
	    padding: 6px 10px 2px 10px;
    	font-size: 10px;
	}
	.wrapper__block .lesson_name::after {
	    content: url(../css/imgs/group_lesson_icon_middle.svg);
	    margin-left: 15px;
	    vertical-align: -3px;
	}

	.wrapper__block h2 {
	    font-size: 12px;
	    margin-top: 1px;
	}

	.wrapper__block p.duration {
	    font-size: 12px;
	    margin-top: 4px;
	}

	.wrapper__block p.duration::before {
	    left: -25px;
	    top: -2px;
	}

	.wrapper__block p.state {
	    min-height: 70px;
	    margin-top: 7px;
	    font-size: 12px;
	    line-height: 18px;
	}

	.wrapper__block a.small {
	    font-size: 9px;
	    left: 105px;
	    top: -2px;
	}

}