header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #fff;
}

header > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    margin: 11px 234px 0 0px;
}
.first_item {
    display: none;
}
.header_list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    padding-left: 0;
}

.header_list li {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    margin-top: 13px;
    margin-right: 48px;
}

.header_list li a {
    text-decoration: none;
    color: #000000;
    transition: all linear .1s;
}

.header_list li a:hover {
    text-decoration: underline;
    color: #000;
    transition: .3s;
}

.header_list li a:active {
    color: black;
}

.account_list {
    list-style: none;
    margin-left: 118px;
    margin-top: 13px;
}

.account_list li {
    position: relative;
}

.account_list li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.account_list li::before {
    content: url(../css/imgs/registration.svg);
    position: absolute;
    left: -33px;
    text-align: center;
}

/* Media Style Header */

@media (max-width: 1724px) {
    .logo img {
        width: 80%;
        margin-right: 15px;
        margin-left: 20px;
    }

    .header_list li {
        margin-right: 30px;
    }
}

@media (max-width: 1410px) {
    .logo img {
        margin-top: 12px;
    }

    .header_list li {
        font-size: 15px;
        line-height: 50px;
        margin-top: 14px;
        margin-right: 22px;
    }

    .account_list li a {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 1199px) {
    .logo img {
        width: 87%;
        margin: 15px 33px 0 -3px;
    }
    .first_item {
        display: none;
    }
    .account_list {
        margin-left: 144px;
        margin-top: 10px;
    }
    .account_list li::before {
        left: -33px;
        top: -3px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 55px;
        margin-top: 6px;
        height: 30px;
    }

    .header__burger span {
        content: '';
        position: absolute;
        background: #000;
        width: 54px;
        height: 5px;
        left: 0;
        top: 13px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        position: absolute;
        background: #000;
        width: 54px;
        height: 5px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 15px;
    }

    .header__menu {
        width: 32%;
        z-index: 2;
        background: #000000;
        position: absolute;
        top: 100%;
        right: 0%;
        transition: all linear .1s;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        display: none;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.3px;
        margin: 24px 0 24px 36px;
    }

    .header__menu.active .header_list li {
        display: block;
    }

    .header__menu.active .header_list li a {
        color: #FFFFFF;
    }
}

@media (max-width: 767px) {
    header {
        height: 55px;
    }

    .logo img {
        width: 50%;
        margin: 13px 15px 0 0px;
    }

    .first_item {
        display: block;
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    .first_item .account_list {
        margin-left: 30px;
        margin-top: 0px;
    }
    .first_item .account_list li {
        margin: 24px 0 7px 19px;
    }
    .first_item .account_list li a {
        font-size: 14px;
        line-height: 22px;
    }
    .first_item .account_list li::before {
        content: url(../css/imgs/registration_white.svg);
        position: absolute;
        left: -33px;
        text-align: center;
    }

    
    .header_list li {
        font-size: 12px;
        margin: 10px 0 23px 19px;
    }
    .account {
        display: none;
    }

    .account_list {
        margin-left: 151px;
        margin-top: 11px;
    }

    .header__burger {
        width: 40px;
        margin-top: 10px;
        height: 29px;
        margin-left: -64px;
    }

    .header__burger span {
        width: 34px;
        height: 3.16px;
        top: 13px;
    }

    .header__burger:before,
    .header__burger:after {
        width: 34px;
        height: 3.16px;
    }

    .header__burger:after {
        top: 6px;
    }

    .header__burger:before {
        top: 20px;
    }

    .header__burger.active:before {
        top: 7px;
    }

    .header__menu {
        width: 54%;
        right: 0%;
    }
}