/* Find your practise */

/* Index Page */

#practise-page {
    margin-top: 80px;
}

#practise-page .top-info img {
    float: left;
    margin-right: 54px;
}
#practise-page h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 3px;
    margin-bottom: 19px;
}

#practise-page .info-text {
    font-size: 22px;
    line-height: 28px;
}
#practise-page .info-text p {
    padding-bottom: 18px;
}

#practise-page .info-text p.top {
    padding-top: 10px;
}

#practise-page .calendar-block {
    margin-top: 32px;
}

#practise-page .title-left {
    margin-top: 66px;
    margin-bottom: 60px;
    overflow: hidden;
}

#practise-page .title-left span {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3.4px;
    text-transform: uppercase;
}

#practise-page .title-left span:after {
    display: block;
    width: 1028px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 46%;
    left: 37.5rem;
}

#practise-page .specialist-tile {
    text-align: center;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 0 auto 48px;
    transition: all linear .1s;
    margin-right: 80px;
}

#practise-page .slider-manage-block {
    margin-top: 37px;
}

/* List Blocks */

#main_block {
    margin-top: 80px;
    margin-bottom: 28px;
}


/* Media Style */


@media (max-width: 1199px) {

    .title-block h1 {
        line-height: 38px;
    }

    .row .tile-block {
        margin-bottom: 30px;
    }

    #main_block {
        margin-top: 34px;
        margin-bottom: 32px;
    }

    .tile-block {
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {

    .tile-block {
        margin-bottom: 18px;
    }

    #main_block {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    #main_block .container {
        padding: 0 20px;
    }

    .row .tile-block {
        margin-bottom: 20px;
    }

}
