/* Find your practise */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 1630px;
    margin: 0 auto;
}
.main_block {
    margin-top: 80px;
    margin-bottom: 38px;
}
.wrapper__item {
    margin-right: 92px;
    margin-bottom: 67px;
    width: 481px;
    height: 100%;
    overflow: hidden;
}

.wrapper__item h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #F1F1F1;
    margin-top: -4px;
}

.wrapper__item p {
    margin-top: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
}

.wrapper__item a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    left: 64px;
}

.wrapper__item a:hover {
    text-shadow: 0 1px 1px black;
}


@media (max-width: 1199px) {
    .title-block h1 {
        line-height: 38px;
    }

    .main_block {
        margin-top: 34px;
        margin-bottom: 38px;
    }
    .wrapper__item {
        margin: 0px 2px 45px 18px;
        width: 320px;
    }
    .wrapper__item h2 {
        font-size: 14px;
        line-height: 22px;
        margin-top: 7px;
        padding-bottom: 7px;
    }
    .wrapper__item p {
        min-height: 80px;
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
    }
    .wrapper__item a {
        font-size: 10px;
        left: 62px;
    }
}

@media (max-width: 767px) {

}