.select2-container .select2-selection--single {
    height: 50px;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 48px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 25px;
    padding-right: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    width: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
    border-width: 8px 8px 0 8px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent;
    border-width: 0 8px 8px 8px;
}

.select2-results__option--selectable {
    cursor: pointer;
    color: #000000;
    font-family: Proxima Nova, sans-serif;
}

@media (max-width: 1199px) {
    .select2-container .select2-selection--single {
        font-size: 16px;
        line-height: 20px;
        height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 5px 5px 0 5px;
        margin-left: -5px;
        margin-top: -2px;
        position: absolute;
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-width: 0 5px 5px 5px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 8px;
        padding-right: 36px;
    }
}

@media (max-width: 767px) {
    .select2-container .select2-selection--single {
        font-size: 14px;
        height: 30px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 28px;
    }
}