/* Error page */
#error-content {
    padding-top: 80px;
    padding-bottom: 130px;
}

#error-content .error-block {
    max-width: 660px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

#error-content .error-text {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 59px;
}

#error-content .btn-white {
    font-size: 18px;
    letter-spacing: 1.6px;
    padding: 14px 55px;
}

#error-content .btn-white:hover {
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    #error-content .error-content {
        padding-top: 57px;
        padding-bottom: 64px;
    }

    #error-content .error-block {
        max-width: 400px;
    }

    #error-content .error-text {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 29px;
    }

    #error-content .btn-white {
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 1.6px;
        width: 278px;
        height: 35px;
        padding: 5px 0 0;
    }
}

@media (max-width: 767px) {
    #error-content .error-content {
        padding-top: 30px;
        padding-bottom: 64px;
    }

    #error-content .error-block {
        max-width: 308px;
    }

    #error-content .error-text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 17px;
        padding: 0 15px;
    }

    #error-content .btn-white {
        font-size: 10px;
        line-height: 21px;
        letter-spacing: 1.6px;
        width: 100%;
        height: 30px;
        padding: 3px 0 0;
        border: 1px solid #000000;
        border-radius: 3px;
    }
}

/* Login page */
#login-content {
    padding: 60px 0 80px;
}

#login-content form {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1199px) {
    #login-content {
        padding: 42px 0 90px;
    }
}

/* Password page */
#password-content {
    padding: 60px 0 80px;
}

#password-content form {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

/* Registration page */
#registration-content {
    padding: 60px 0 80px;
}

#registration-content form {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

#registration-content .timezone-block div {
    float: left;
    width: 307px;
}

#registration-content .timezone-block button {
    float: right;
    width: 189px;
    border: 1px solid #000;
}

#registration-content .checkbox-wrapper {
    text-align: left;
    margin: 22px 0 2px;
}

#registration-content .action-block {
    margin-top: 16px;
}

#policy-content {
    padding: 86px 0 64px;
}

.accordion {

}

.accordion-item {
    margin-bottom: 35px;
}

.accordion-title {
    border: 1px solid #DBDBDB;
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    padding: 18px 80px 18px 35px;
    position: relative;
}

.accordion-item .arrow {
    position: absolute;
    top: calc(50% - 15px);
    right: 31px;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(/css/imgs/accordion-down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: center;
}

.accordion-item.open .arrow {
    background-image: url(/css/imgs/accordion-up-arrow.svg);
}

.accordion-item .accordion-info {
    border: 1px solid #DBDBDB;
    border-top: none;
    padding: 34px 35px 34px;
}

.accordion-item .accordion-info p {
    font-size: 24px;
    line-height: 34px;
}

.accordion-item .accordion-info p:not(:last-child) {
    margin-bottom: 16px;
}

@media (max-width: 1199px) {
    #registration-content {
        padding: 41px 0 60px;
    }

    #registration-content .checkbox-wrapper {
        text-align: left;
        margin: 16px 0 3px;
    }

    #registration-content .action-block {
        margin-top: 8px;
    }

    #policy-content {
        padding: 36px 0;
    }

    .accordion-item {
        margin-bottom: 25px;
    }

    .accordion-title {
        font-size: 16px;
        padding: 4px 55px 4px 19px;
    }

    .accordion-item .accordion-info {
        padding: 19px;
    }

    .accordion-item .arrow {
        top: calc(50% - 11px);
        width: 22px;
        height: 22px;
        right: 18px;
    }

    .accordion-item .accordion-info p {
        font-size: 16px;
        line-height: 20px;
    }

    .accordion-item .accordion-info p:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    #registration-content {
        padding: 18px 0 32px;
    }

    #registration-content form {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;
    }

    #registration-content .timezone-block div {
        width: 100%;
    }

    #registration-content .timezone-block {
        text-align: center;
    }

    #registration-content .timezone-block div {
        text-align: left;
    }

    #registration-content .timezone-block button {
        width: 123px;
        margin-top: 16px;
        float: none;
    }

    #registration-content .checkbox-wrapper {
        margin: -3px 0 4px;
    }

    #policy-content {
        padding: 24px 0 48px;
    }

    .accordion-item {
        margin-bottom: 15px;
    }

    .accordion-title {
        font-size: 12px;
        line-height: 18px;
        padding: 6px 45px 4px 9px;
    }

    .accordion-item .arrow {
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
        right: 17px;
    }

    .accordion-item .accordion-info {
        padding: 9px 20px 8px 9px;
    }

    .accordion-item .accordion-info p {
        font-size: 12px;
        line-height: 18px;
    }

    .accordion-item .accordion-info p:not(:last-child) {
        margin-bottom: 11px;
    }
}