#specialist-content .tab-block:not(:last-of-type) {
    margin-bottom: 5px;
}

#specialist-content .wrapper__block {
    margin-top: 54px;
    margin-bottom: 17px;
}

#specialist-content .list__block {
    margin-top: 54px;
    margin-bottom: 15px;
}

#specialist-list-content {
    padding: 66px 0;
}

#specialist-list-content .specialist-filter-block {
    font-family: Montserrat, sans-serif;
}

#specialist-list-content .specialist-filter-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 3px;
    color: #333333;
    margin-right: 54px;
    vertical-align: text-bottom;
}

#specialist-list-content .specialist-filter-wrapper {
    display: inline-block;
    vertical-align: text-bottom;
}

#specialist-list-content .specialist-filter-group {
    display: inline-block;
}

#specialist-list-content .specialist-filter-group:not(:last-child) {
    margin-right: 60px;
}

#specialist-list-content .specialist-filter-block label {
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    letter-spacing: 2px;
    margin-right: 18px;
}

#specialist-list-content .specialist-filter-block select {
    background: 0;
    border-radius: 0;
    border: none;
    border: 0;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 3px;
    color: #333333;
    -webkit-appearance: none;
    padding-right: 28px;
    background: url('/css/imgs/specialist-select-down.svg') no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: center;
}

.range-wrapper {
    width: 255px;
    display: inline-block;
    position: relative;
    vertical-align: super;
}

.range-slider {
    margin: 0 40px 0 20px;
}

.range-slider:before {
    content: '';
    display: block;
    border-radius: 5px;
    background: #000;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: -1;
    width: 9px;
    height: 9px;
}

.range-slider:after {
    content: '';
    display: block;
    border-radius: 5px;
    background: #000;
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: -1;
    width: 9px;
    height: 9px;
}

.box-minmax {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 3px;
    width: 100%;
    color: black;
}

.box-minmax span:first-child {
    position: absolute;
    top: 11px;
    left: 0;
    width: 25px;
    text-align: center;
    line-height: 1;
}

.box-minmax span:last-child {
    position: absolute;
    top: 11px;
    right: 0;
    width: 40px;
    text-align: center;
    line-height: 1;
}

.box-minmax span:last-child:before {
    content: attr(data-before);
}

.rs-range {
    width: 100%;
    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: black;
    border-radius: 0;
    border: 0 solid #000;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: black;
    border-radius: 0;
    border: 0 solid #000;
}

.rs-range::-webkit-slider-thumb {
    border: 0 solid black;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

.rs-range::-moz-range-thumb {
    border: 0 solid black;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

.rs-range::-moz-focus-outer {
    border: 0;
}

.rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 60px;
    background: transparent;
    text-align: center;
    box-sizing: border-box;
    margin-left: -30px;
    left: attr(value);
    font-size: 14px;
    margin-bottom: -5px;
    line-height: 12px;
    margin-top: -2px;
}

.rs-label::after {
    content: attr(data-after);
}

#specialist-list-content .specialist-list-block {
    margin-top: 59px;
}


#specialist-list-content .specialist-tile:hover {
    background: #fff;
    box-shadow: 0 0 30px 0px rgb(0, 0, 0, .25);
}

.specialist-tile {
    text-align: center;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 0 auto 82px;
    transition: all linear .1s;
}

.specialist-tile .specialist-info {
    padding: 28px 46px 9px;
}

#specialist-list-content .specialist-image-block {
    margin-bottom: 18px;
}

.specialist-image-block {
    width: 190px;
    height: 190px;
    position: relative;
    margin: 0 auto;
}

.specialist-image-block .specialist-image-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0, .25);
    overflow: hidden;
}

.specialist-image-block .specialist-image-wrapper img {
    width: 100%;
}

.specialist-image-block .specialist-image-wrapper:after {
    content: '';
    position: absolute;
    top: calc(13px / 2);
    left: calc(13px / 2);
    width: 177px;
    height: 177px;
    z-index: 1;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.specialist-image-block .circle {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 2;
    background: #83C565;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    padding: 4px;
}

.specialist-image-block .circle:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #fff;
}

.specialist-tile .specialist-name {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.specialist-tile .specialist-type {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specialist-tile .specialist-type {
    font-size: 16px;
    line-height: 20px;
}

.specialist-tile .specialist-description {
    border-top: 1px solid #D5D5D5;
    font-size: 16px;
    line-height: 20px;
    padding-top: 7px;
    min-height: 108px;
}

.specialist-tile .specialist-experience {
    font-size: 16px;
    line-height: 34px;
    color: #7C7C7C;
    margin-bottom: 1px;
    display: inline-block;
}

.specialist-tile .specialist-experience:before {
    content: '';
    background: url("/css/imgs/specialist-experience.svg"), no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: -5px;
}

.specialist-tile .specialist-direction {
    border-top: 1px solid #D5D5D5;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-top: 8px;
}

.specialist-tile .specialist-calendar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.specialist-tile .specialist-calendar a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.specialist-tile .specialist-calendar a:before {
    content: '';
    display: inline-block;
    background: url("/css/imgs/specialist-arrow.svg") no-repeat;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 20px;
}

/* Page specialist */
#specialist-content {
    padding-bottom: 60px;
}

.specialist-header {
    background: #FAFAFA;
    padding: 54px 0 37px;
}

.specialist-header-row {
    width: 1214px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

.specialist-image-column {
    float: left;
    width: 190px;
}

.specialist-info-column {
    float: left;
    width: calc(100% - 190px);
    padding-left: 99px;
}

.specialist-type-experience {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 37px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333333;
}

.specialist-type-experience .type {

}

.specialist-type-experience .dot {
    font-size: 36px;
    line-height: 21px;
    vertical-align: text-top;
}

.specialist-type-experience .experience {
    display: inline-block;
    margin-left: 6px;
    letter-spacing: 2px;
}

#specialist-content .specialist-name {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 46px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: -4px;
    margin-bottom: 23px;
}

#specialist-content .specialist-link {
    position: absolute;
    top: 5px;
    right: 51px;
    z-index: 1;
}

#specialist-content .specialist-link a {
    display: inline-block;
    width: 33px;
    height: 30px;
    margin: 0 2px;
    vertical-align: top;
    background-position: center center;
}

#specialist-content .specialist-link a.heart {
    background: url('/css/imgs/specialist-heart-link.svg') no-repeat center center;
    background-size: auto 100%;
}

#specialist-content .specialist-link a.instagram {
    background: url('/css/imgs/specialist-instagram-link.svg') no-repeat center center;
    background-size: auto 100%;
}

#specialist-content .specialist-link a.facebook {
    background: url('/css/imgs/specialist-facebook-link.svg') no-repeat center center;
    background-size: auto 100%;
}

#specialist-content .specialist-link a.copy {
    background: url('/css/imgs/specialist-copy-link.svg') no-repeat center center;
    background-size: auto 100%;
}

#specialist-content .specialist-description {
    font-size: 16px;
    line-height: 20px;
    width: 610px;
    margin-bottom: 10px;
}

#specialist-content .specialist-direction {
    font-size: 16px;
    line-height: 20px;
}

#specialist-content .tab-buttons {
    text-align: center;
    padding: 22px 0;
    border-bottom: 2px solid #FAFAFA;
}

#specialist-content .tab-buttons span {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 55px;
    cursor: pointer;
}

#specialist-content .tab-buttons span:after {
    content: '';
    display: block;
    position: relative;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #000;
    transition: all linear 0.2s;
}

#specialist-content .tab-buttons span:hover:after {
    width: 100%;
}

#specialist-content .tab-buttons span.active {
    font-weight: bold;
}

.tab-calendar .description {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 33px;
}

.tab-achievement {
    padding: 39px 5px 0;
}

.achievement-slider {
    padding-left: calc((100% - 1178px) / 2);
    padding-right: calc((100% - 1178px) / 2);
    margin: 0 auto;
    position: relative;
}

.achievement-slider .slider__item {
    margin: 0 auto;
    text-align: center;
}

.achievement-slider .slider__item img {
    width: calc(100% - 30px);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 0 auto 28px;
}

.achievement-slider .slider__item h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 16px;
    font-weight: normal;
}

.achievement-slider .slider__item p {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;
}

.achievement-slider .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.achievement-slider .slider-manage-block {
    margin: 0;
}

.achievement-slider .slider-manage-block .slider-button-prev,
.achievement-slider .slider-manage-block .slider-button-next {
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 35%;
}

.achievement-slider .slider-manage-block .slider-button-prev {
    left: 121px;
}

.achievement-slider .slider-manage-block .slider-button-next {
    right: 121px;
}

.achievement-slider .slider-manage-block .dots {
    text-align: center;
    width: 100%;
}

.achievement-slider .slider-manage-block .dots > * {
    display: inline-block;
    margin: 0;
}

.tab-info {
    font-size: 24px;
    line-height: 34px;
    padding: 44px 10px 0;
}

.tab-info h4 {
    font-size: 34px;
    line-height: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}

.tab-info h5 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 38px;
}

.tab-info p:not(:first-of-type) {
    margin-top: 8px;
}

@media (max-width: 1550px) {
    #specialist-content .tab-buttons span {
        margin: 0 20px;
    }
}

@media (max-width: 1199px) {
    #specialist-list-content {
        padding: 36px 0;
    }

    #specialist-content .list__block {
        margin-top: 17px;
        margin-bottom: 15px;
    }

    #specialist-list-content .specialist-filter-title {
        font-size: 18px;
        line-height: 30px;
    }

    #specialist-list-content .specialist-filter-group {
    }

    #specialist-list-content .specialist-filter-group:not(:last-child) {
        margin-right: 43px;
    }

    #specialist-list-content .specialist-filter-block label {
        font-size: 16px;
        margin-right: 9px;
    }

    #specialist-list-content .specialist-filter-block select {
        font-size: 16px;
    }

    .range-wrapper {
        width: 205px;
    }

    .box-minmax {
        font-size: 12px;
    }

    #specialist-list-content .specialist-list-block {
        margin-top: 30px;
    }

    .specialist-tile {
        margin: 0 auto 39px;
    }

    .specialist-tile .specialist-info {
        padding: 21px 21px 2px;
    }

    .specialist-image-block {
        width: 149px;
        height: 149px;
        margin: 0 auto 14px;
    }

    .specialist-image-block .circle {
        top: 24px;
        right: 3px;
        width: 20px;
        height: 20px;
        padding: 3px;
    }

    .specialist-image-block .specialist-image-wrapper:after {
        top: calc(11px / 2);
        left: calc(11px / 2);
        width: 138px;
        height: 138px;
    }

    .specialist-tile .specialist-name {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .specialist-tile .specialist-type {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 9px;
    }

    .specialist-tile .specialist-description {
        font-size: 12px;
        line-height: 18px;
        padding-top: 6px;
        min-height: 80px;
    }

    .specialist-tile .specialist-experience {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 6px;
    }

    .specialist-tile .specialist-experience:before {
        background-size: 14px;
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: -5px;
    }

    .specialist-tile .specialist-direction {
        padding-top: 6px;
        font-size: 12px;
        line-height: 18px;
    }

    .specialist-tile .specialist-calendar {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px 36px 15px 15px;
    }

    .specialist-tile .specialist-calendar a {
        font-size: 12px;
        line-height: 30px;
    }

    .specialist-tile .specialist-calendar a:before {
        background-size: 30px;
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    #specialist-content {
        padding-bottom: 42px;
    }

    .specialist-header {
        padding: 45px 0 54px;
    }

    .specialist-header-row {
        width: auto;
    }

    .specialist-image-column {
        width: 209px;
    }

    .specialist-info-column {
        float: left;
        width: calc(100% - 209px);
        padding-left: 13px;
    }

    .specialist-type-experience {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    .specialist-type-experience .dot {
        font-size: 26px;
        line-height: 16px;
    }

    .specialist-type-experience .experience {
        margin-left: 2px;
    }

    #specialist-content .specialist-name {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 4px;
        margin-left: -1px;
        margin-bottom: 8px;
    }

    #specialist-content .specialist-link {
        position: absolute;
        top: 1px;
        right: 155px;
        z-index: 1;
    }

    #specialist-content .specialist-link a.heart,
    #specialist-content .specialist-link a.instagram,
    #specialist-content .specialist-link a.facebook,
    #specialist-content .specialist-link a.copy {
        width: 19px;
        height: 17px;
        background-size: auto 17px;
        margin: 0;
    }

    #specialist-content .specialist-link a.heart {
        height: 16px;
        background-size: auto 100%;
    }

    #specialist-content .specialist-description {
        width: auto;
        margin-bottom: 9px;
    }

    #specialist-content .tab-buttons {
        padding: 15px 0;
    }

    #specialist-content .tab-buttons span {
        font-size: 14px;
        line-height: 28px;
        margin: 0 40px;
    }

    #specialist-content .tab-buttons span.active {
        letter-spacing: 1px;
    }

    #specialist-content .tab-buttons span:after {
        bottom: 4px;
    }

    .tab-achievement {
        padding: 19px 5px 0;
    }

    .achievement-slider .slider__item img {
        width: 575px;
        margin: 0 auto 50px;
    }

    .achievement-slider .slider__item h2 {
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .achievement-slider .slider__item p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        padding: 0 20px;
    }

    .achievement-slider .slider-manage-block .slider-button-prev,
    .achievement-slider .slider-manage-block .slider-button-next {
        top: 30%;
        height: 30px;
        width: 30px;
        background-size: 100%;
    }

    .achievement-slider .slider-manage-block .slider-button-prev {
        left: 35px;
    }

    .achievement-slider .slider-manage-block .slider-button-next {
        right: 35px;
    }

    .tab-info {
        font-size: 16px;
        line-height: 20px;
        padding: 22px 40px 0;
    }

    .tab-info h4 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .tab-info h5 {
        font-size: 18px;
        line-height: 24px;
        margin-top: 16px;
    }

    .tab-info p:not(:first-of-type) {
        margin-top: 10px;
    }

    .tab-calendar {
        padding: 15px 40px 10px;
    }

    .tab-calendar .description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #specialist-list-content {
        padding: 15px 0;
    }

    #specialist-list-content .specialist-filter-title {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
    }

    #specialist-list-content .specialist-filter-block label {
        margin-right: 9px;
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    #specialist-list-content .specialist-filter-block select {
        font-size: 12px;
        background-size: 10px;
        padding-right: 20px;
    }

    .range-wrapper {
        vertical-align: 2px;
    }

    .specialist-tile {
        margin: 0 auto 31px;
    }

    .specialist-tile .specialist-info {
        padding: 13px 20px 8px;
    }

    .specialist-image-block {
        width: 100px;
        height: 100px;
        margin: 0 auto 10px;
    }

    .specialist-image-block .specialist-image-wrapper:after {
        top: calc(7px / 2);
        left: calc(7px / 2);
        width: 93px;
        height: 93px;
    }

    .specialist-image-block .circle {
        top: 15px;
        right: 3px;
        width: 13px;
        height: 13px;
        padding: 1px;
    }

    .specialist-tile .specialist-name {
        font-size: 14px;
        margin-bottom: 0;
    }

    .specialist-tile .specialist-type {
        font-size: 12px;
        margin-bottom: 9px;
    }

    .specialist-tile .specialist-description {
        padding-top: 13px;
    }

    .specialist-tile .specialist-experience {
        font-size: 12px;
        line-height: 34px;
        margin-bottom: 0;
    }

    .specialist-tile .specialist-direction {
        padding-top: 11px;
    }

    .specialist-tile .specialist-calendar {
        padding: 9px 16px 9px 15px;
    }

    .specialist-tile .specialist-calendar a {
        line-height: 21px;
    }

    .specialist-tile .specialist-calendar a:before {
        background-size: 21px;
        width: 21px;
        height: 21px;
        margin-right: 12px;
    }

    #specialist-content {
        padding-bottom: 28px;
    }

    .specialist-header {
        padding: 5px 0 24px;
    }

    .specialist-image-column {
        float: none;
        width: 100%;
    }

    .specialist-info-column {
        float: none;
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .specialist-image-block {
        margin: 0 auto 20px;
    }

    .specialist-type-experience {
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 7px;
    }

    .specialist-type-experience .dot {
        font-size: 24px;
        line-height: 14px;
    }

    .specialist-type-experience .experience {
        margin: 0;
    }

    #specialist-content .specialist-name {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        margin-left: 0;
        margin-bottom: 12px;
    }

    #specialist-content .specialist-link {
        position: static;
        margin-bottom: 18px;
    }

    #specialist-content .specialist-description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 13px;
    }

    #specialist-content .specialist-direction {
        font-size: 12px;
        line-height: 18px;
    }

    #specialist-content .tab-buttons {
        padding: 15px 0;
    }

    #specialist-content .tab-buttons span {
        font-size: 12px;
        line-height: 28px;
        margin: 0 40px;
    }

    #specialist-content .tab-buttons span.active {
        letter-spacing: 2px;
    }

    .tab-info {
        font-size: 12px;
        line-height: 18px;
        padding: 16px 20px 0;
    }

    .tab-info h4 {
        font-size: 12px;
        line-height: 18px;
    }

    .tab-info h5 {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
    }

    .tab-info p:not(:first-of-type) {
        margin-top: 10px;
    }

    .tab-achievement {
        padding: 18px 5px 0;
    }

    .achievement-slider .slider__item img {
        width: 280px;
        margin: 0 auto 71px;
    }

    .achievement-slider .slider-manage-block .dots {
        text-align: center;
        width: 100%;
    }

    .achievement-slider .slider-manage-block .slider-button-prev,
    .achievement-slider .slider-manage-block .slider-button-next {
        top: 220px;
    }

    .achievement-slider .slider-manage-block .slider-button-prev {
        left: 45px;
    }

    .achievement-slider .slider-manage-block .slider-button-next {
        right: 45px;
    }

    .achievement-slider .slider-manage-block .dots {
        top: 221px;
        text-align: center;
        width: 150px;
        position: absolute;
        z-index: 1;
        left: calc(50% - 75px);
    }

    .achievement-slider .slider__item h2 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 11px;
    }

    .achievement-slider .slider__item p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0 22px;
    }

    .tab-calendar {
        padding: 19px 20px 5px;
    }

    .tab-calendar .description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 19px;
    }
}