@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova/ProximaNova-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'ProximaNova', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}