/*@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
}

body.blur {
    overflow: hidden;
    padding-right: 17px;
    padding-top: 0;
}

body.blur main {
    filter: blur(4px);
}

body.blur header {
    position: static;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.container-lg {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 45px;
}

.container-sm {
    max-width: 1530px;
    padding: 0 45px;
    margin: 0 auto;
}

.row {
    margin-left: -45px;
    margin-right: -45px;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 45px;
}

.tab:not(.active) {
    display: none;
}

.title {
    margin-top: 81px;
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
}
.title span {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
}
.title-big {
    margin-top: 68px;
    margin-bottom: 60px;
}
.title-big span {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 3px;
}

.title-big p {
    width: 68%;
    margin-top: 16px;
    font-size: 22px;
    line-height: 37px;
    color: #323232;
}

.title:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: -1;
    border-radius: 10px;
}

.title-big:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: -1;
    border-radius: 10px;
}

.title-left {
    text-align: left;
}
.title-left span {
    padding-right: 46px;
}
.title-center {
    text-align: center;
}
.title-center span {
    padding-left: 46px;
    padding-right: 46px;
}
.title-right {
    text-align: right;
}
.title-right span {
    padding-left: 46px;
}

.btn {
    display: inline-block;
    padding: 14px 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    height: 50px;
    transition: all linear .1s;
    outline: none;
}

.btn-slider {
    display: inline-block;
    padding: 15px 75px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    height: 50px;
    transition: all linear .1s;
    outline: none;
}

form .btn {
    font-family: ProximaNova, sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 24px;
    padding: 12px 20px;
}

.btn-red {
    color: #fff;
    background: #C46565;
}

.btn-red:hover {
    background: #222222;
}

.btn-blue {
    color: #fff;
    background: #43A2B7;
}

.btn-blue:hover {
    background: #B6B6B6;
}

.btn-green {
    color: #fff;
    background: #83C465;
}

.btn-green:hover {
    background: #000;
}

.btn-teal {
    color: #fff;
    background: #59ADA8;
}

.btn-teal:hover {
    background: #000;
}

.btn-white {
    padding-top: 12px;
    color: #000;
    background: #fff;
    border: 2px solid #000000;
}

.btn-white:hover {
    color: #fff;
    background: #000;
}

.btn-grey {
    color: #fff;
    background: #BFBFBF;
}

.btn-grey:hover {
    background: #83C465;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

#cookie-block {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    padding: 44px 0;
    background: #fff;
}

#cookie-block p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    width: calc(100% - 320px);
    float: left;
}

#cookie-block p a {
    color: #8F8F8F;
    text-decoration: none;
}

#cookie-block button {
    float: right;
    width: 291px;
    margin-top: 7px;
}

@media (max-width: 1719px) {
    #cookie-block p {
        font-size: 22px;
        letter-spacing: 0;
    }

    #cookie-block button {
        float: right;
        width: 291px;
        margin-top: 7px;
    }
}

@media (max-width: 1439px) {
    #cookie-block p {
        font-size: 16px;
        letter-spacing: 0;
    }

    #cookie-block button {
        float: right;
        width: 291px;
        margin-top: 7px;
    }
}

@media (max-width: 1199px) {
    .title {
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .title span {
        width: 64%;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 3px;
    }
    .title-big {
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .title-big span {
        width: 59%;
        font-size: 22px;
        line-height: 50px;
        letter-spacing: 3px;
    }

    .title-big p {
        width: 97%;
        margin-top: -3px;
        font-size: 16px;
        line-height: 22px;
    }

    .title:after {
        top: 10px;
    }
    .title-big:after {
        top: 24px;
    }

    .title-left span {
        padding-right: 25px;
    }

    .title-center span {
        padding-left: 25px;
        padding-right: 25px;
    }

    .title-right span {
        padding-left: 25px;
    }

    #cookie-block {
        padding: 20px 0;
    }

    #cookie-block p {
        font-size: 16px;
        letter-spacing: 0;
        width: calc(100% - 200px);
    }

    #cookie-block button {
        width: 180px;
    }

    .container {
        max-width: 768px;
    }

    .container-sm {
        max-width: 780px;
    }

    .row {
        margin-left: -30px;
        margin-right: -30px;
    }

    .col {
        width: calc(100% / 2);
        padding: 0 30px;
    }

    .container-sm .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .container-sm .col {
        padding: 0 15px;
    }

    .btn {
        font-size: 20px;
        letter-spacing: 0;
        padding: 6px 20px;
        height: 35px;
    }

    form .btn {
        font-size: 16px;
        padding: 6px 7px;
    }

    .btn-white {
        padding: 4px 20px;
    }

    .btn-slider {
        padding: 11px 70px;
        font-size: 14px;
        line-height: 21px;
        height: 42px;
    }

}

@media (max-width: 767px) {
    .title {
        margin-top: 42;
        margin-bottom: 20px;
    }
    .title span {
        width: 93%;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .title-big {
        margin-top: 42px;
        margin-bottom: 10px;
    }

    .title-big span {
        width: 75%;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
    }

    .title-big p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
    }

    .title:after {
        top: 9px;
    }

    .title-big:after {
        top: 9px;
    }

    .title-left span {
        padding-right: 15px;
    }
    .title-center span {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-right span {
        padding-left: 15px;
    }

    #cookie-block p {
        float: none;
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
    }

    #cookie-block button {
        float: none;
        width: 100%;
        margin: 0;
    }

    .container,
    .container-lg {
        max-width: 320px;
    }

    .container-sm {
        max-width: 280px;
        padding: 0;
    }

    .col {
        width: 100%;
    }

    .btn {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 2px 20px;
        height: 25px;
    }

    form .btn {
        height: 30px;
        font-size: 14px;
        padding: 4px 5px;
    }

    .btn-white {
        padding: 0 20px;
    }

    .btn-slider {
        padding: 5px 7px;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 1px;
        height: 25px;
    }
}