@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'ProximaNova', sans-serif;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.container-lg {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    margin-left: -45px;
    margin-right: -45px;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 45px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

@media (max-width: 1199px) {
    .container {
        max-width: 768px;
    }

    .container-sm {
        max-width: 780px;
    }

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col {
        width: calc(100% / 2);
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 320px;
    }

    .container-sm {
        max-width: 280px;
        padding: 0;
    }

    .col {
        width: 100%;
    }
}