* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
@font-face {
    font-family: 'ProximaNovaBold';
    src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* Header */
header {
	max-width: 1920px;
	margin: 0 auto;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul{
	list-style:  none;
    display: flex;
    text-transform: uppercase;
    padding-left: 0;
}
nav li {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 60px;
	padding-left: 45px;
}
nav li:first-child {
	padding-left: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: #54593a;
    transition: .3s;
}
a:active {
    color: black;
}

.account_list {
	list-style: none;
}
.account_list li {
	position: relative;
}
.account_list li a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #000000	;
}
.account_list li::before {
	content: url(../img/Vector.png);
	position: absolute;
	left: -35px;
	text-align: center;
}

/* Personal gid */

.personal_gid {
	max-width: 1920px;
	height: 1080px;
	margin: 0 auto;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/bg_Personal_gid.png) 
		no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
}
.personal_gid h1 {
	padding-bottom: 17px;
	font-family:'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.personal_gid p {
	font-family: 'ProximaNovaRegular';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 37px;
	text-align: center;
	color: #FFFFFF;
} 
.personal_gid button {
	width: 396px;
	height: 64px;
	margin-top: 35px;
	background: #FFFFFF;
	border-radius: 5px;
	font-family:'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: #000000;
}
button:hover {
	opacity: .8;
}
button:active {
	border: 1px solid #445162;
}

/* Раздел 'О Нас'*/
.title {
	text-align: center;  
    width: 80%;  
    margin: 0 auto;
    margin-bottom: 66px;        
    overflow: hidden;
}
.title span {
    position: relative;
	font-family: 'ProximaNovaBold';
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;

}
.title span:before {
    display: block;       
    width: 1000px;                    
    content: '';       
    position: absolute;              
    border: 1px solid #000000;   
    top: 50%;                         
    right: 207px;                   
}
.title  span:after {
    display: block;
    width: 1000px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top:50%;
    left: 207px; 
}

.about_us {
	display: flex;
	justify-content: center;
}
.bg_about-us {
	width: 1057px;
	height: 636px;
	background: linear-gradient(270deg, #FFFFFF 8.11%, rgba(255, 255, 255, 0) 30.43%), 
	url(../img/bg_About_us.png) no-repeat;
	position: relative;
}
.bg_about-us::after {
	position: absolute;
	left: -45px;
}
.discription {
	width: 805px;
	height: 307px;
	margin-top: 45px;
}
p.proximanova {
	font-family: 'ProximaNovaRegular';
	font-size: 22px;
	line-height: 37px;
	color: #000000;
	margin: 35px 0;
}
 p.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 1px;
	color: #000000;
}