
/* font-family: 'Montserrat', sans-serif; */
@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding-top: 80px;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'ProximaNova';
}
/* Header */
header {
	height: 80px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
}
header > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo img {
    margin: 11px 5px 0 25px;
}
.header_list {
	list-style:  none;
    display: flex;
    text-transform: uppercase;
    padding-left: 0;
}
.header_list li {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	margin-top: 14px;
	margin-right: 48px;
}
.header_list li a {
    text-decoration: none;
    color: #000000;
}
.header_list li a:hover {
    text-decoration: underline;
    color: #54593a;
    transition: .3s;
}
.header_list li a:active {
    color: black;
}
.account {

}
.account_list {
	list-style: none;
	margin-left: 15px;
	margin-top: 13px;
}
.account_list li {
	position: relative;
}
.account_list li a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #000000	;
}
.account_list li::before {
	content: url(../img/registration.png);
	position: absolute;
	left: -33px;
	text-align: center;
}

 /* Personal gid */ 

#personal_gid {
	position: relative;
	margin-bottom: 70px;
}

#personal_gid .slider .slider__item img {
	width: 100%;
}
#personal_gid .info {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#personal_gid .info h1 {
	margin-bottom: 17px;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
#personal_gid .info p {
	font-weight: normal;
	font-size: 22px;
	line-height: 37px;
	color: #FFFFFF;
} 
#personal_gid .info a {
	width: 396px;
	height: 64px;
	margin-top: 35px;
	background: #FFFFFF;
	border-radius: 5px;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	cursor: pointer;
	color: #000000;
	padding: 19px 0;
}
#personal_gid .info a:hover {
	text-decoration: none;
	background: #222222;
	color: #FFFFFF;
}
#personal_gid .info a:active {
	border: 1px solid #445162;
}

/* Раздел 'О Нас' */
.title__about_us {
	text-align: center;  
    margin: 0 auto;
    margin-bottom: 66px;        
    overflow: hidden;
}
.title__about_us span {
    position: relative;
    font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
}
.title__about_us span:before {
    width: 684px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 47%;
    right: 200px;                  
}
.title__about_us  span:after {
    display: block;
    width: 697px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top:47%;
    left: 189px; 
}
.about_us__item  {
	width: 100%;
	height: 636px;
	background: linear-gradient(270deg, #FFFFFF 8.11%, rgba(255, 255, 255, 0) 30.43%), 
	url(../img/bg_About_us.png) no-repeat;
	background-position: left top;
}
.about_us .discription img {
	margin-left: 973px;
    margin-top: 82px;
}
.about_us .discription p.proximanova {
	font-size: 22px;
    line-height: 37px;
    color: #000000;
    margin-top: 22px;
    margin-left: 972px;
    margin-bottom: 36px;
    width: 42%;
}
.about_us .discription p.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 1px;
	color: #000000;
	margin-left: 971px;
	width: 41%;
}

/* "Choise your practises" */
#choise_your_practises {
	margin-top: 3.7rem;
	margin-left: 145px;
}
/* Title "Choice Your practises"*/
.title_practises {
    margin-top: 70px;
    margin-bottom: 60px;        
    overflow: hidden;
}
.title_practises span {
    position: relative;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
}
.title_practises  span:after {
    display: block;
    width: 980px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top:46%;
    left: 40.5rem; 
}
.title_practises p {
	width: 66%;
	margin-top: 15px;
	font-weight: normal;
	font-size: 22px;
	line-height: 38px;
	color: #323232;
}
#choise_your_practises .slider__item {
	width: 481px;
	margin-right: 95px; 
}
#choise_your_practises .slider__item h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 45px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;	
}
#choise_your_practises .slider__item p {
	margin-top: 1rem;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #323232;
}
#choise_your_practises .slider__item a {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #000000;
	left: 64px;
}
#choise_your_practises .slider__item a:hover {
	text-shadow: 0px 1px 1px black;
}
.slider_manage_block  {
	display: flex;
	margin-top: 4.1rem;
}
.slider_manage_block a {
	width: 374.29px;
	height: 50px;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;

	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.6px;
	text-align: center;
	text-decoration: none;
	padding: 0.9rem 0;
	text-transform: uppercase;
	cursor: pointer;
	color: #000000;
}
.slider_manage_block a:hover {
	text-decoration: none;
	background: #222222;
	color: #FFFFFF;
}
.slider_manage_block a:active {
	border: 1px solid #445162;
}

.slider_manage_block .arrows {
	display: flex;
}
.choise_your_practises__button_left,
.choise_your_practises__button_right {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #000000;
	margin-left: 3rem;
	cursor: pointer;
}
.choise_your_practises__button_left:hover,
.choise_your_practises__button_right:hover {
	background: #000;
}
/*.choise_your_practises__button_left:hover {
	background: url(../img/arr_prew_white.png) no-repeat; 
}
.choise_your_practises__button_right:hover {
	background: url(../img/arr_next_white.png) no-repeat;
}*/
.choise_your_practises__button_left {
	background: url('../img/practises__arr_prew.png') no-repeat;
	background-position: center;
}
.choise_your_practises__button_right {
	background: url('../img/practises__arr_next.png') no-repeat;
	background-position: center;
	margin-left: 2.5rem;
}


.slider_manage_block .dots .slick-dots {
	margin-left: 1.7rem;
	margin-top: 0.7rem;
	position: static;
}
.dots .slick-dots li{
	position: static;
	margin: 0;
	margin-left: 5px;
}
.dots .slick-dots li button{
	background: #E8E8E8;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.dots .slick-dots li.slick-active button{
	background: #000000;
}
.dots .slick-dots li button:before {
	content: '';
}
.dots .slick-dots li.slick-active button:before{
	background-color: transparent;
	border: 1px solid #fff;
}

/* Блок Start Now */

/* Title "Start_now"*/
.title__start_now {
	width: 88.8%;  
    margin-top: 69px;
    margin-bottom: 60px;        
    overflow: hidden;
    text-align: right;
}

.title__start_now span {
    position: relative;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.title__start_now  span:before {
    width: 985px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 44%;
    right: 645px;
}
}
.title__start_now p {
	margin-top: 1.1rem;
	margin-right: 8.1rem;
	font-weight: normal;
	font-size: 22px;
	line-height: 37px;
	color: #323232;
}

/* Main Start Now*/
#start_now {
	margin-left: 143px;
}
#start_now .slider {
	width: 100%;
}
#start_now .slider .flex-item {
	display: flex;

}
#start_now .slider__item {
	width: 433px;
    margin-top: 19px;
}
#start_now .slider__item h2 {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
#start_now .slider__item h2::after {
	content: '';
    position: absolute;
    display: block;
    width: 102px;
    border: 1px solid #000000;
    bottom: 41.3%;
}
#start_now .slider__item p {
	font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    color: #323232;
    width: 86%;
}
#start_now .slider .flex-item .next_slide  {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #000000;
	background: url('../img/start_now__arrow_next.png') no-repeat;
	background-position: center;
	cursor: pointer;
	margin: 133px 91px 0 3px;
}
#start_now .slider .flex-item .next_slide:hover {
	background: #000;
}
#start_now .slider__item a.registration {
	font-weight: bold;
	font-size: 22px;
	line-height: 38px;
	text-decoration-line: underline;
	color: #000000;
}

	 /* Блок Future Events*/
#future_events {
	margin-top: 3.7rem;
	margin-left: 145px;
}
/* Title future events */

.title__future_events {
    width: 95%;  
    margin-top: 156px;
    margin-bottom: 59px;        
    overflow: hidden;
}
.title__future_events span {
    position: relative;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.title__future_events span:after {
    width: 963px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 50%;
    left: 35.3rem;
}
.title__future_events p {
	width: 66%;
	margin-top: 1.1rem;
	font-weight: normal;
	font-size: 22px;
	line-height: 37px;
	color: #323232;
}

/*Главный блок Future events */

#future_events .slider__item {
	width: 482px;
	margin-right: 95px; 
}
#future_events .slider__item h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
}
#future_events .image_wrapper {
	position: relative;
}
#future_events .image_wrapper .bottom_info {
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.31);
    padding: 10px 29px 2px 31px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
#future_events .image_wrapper .bottom_info .free_place {
    vertical-align: 2px;
}
#future_events .image_wrapper .bottom_info .date {
    float: right;
}
#future_events .slider__item .free_place::before {
	content: url('../img/vector.png');
	line-height: 23px;
    margin-right: 12px;
    vertical-align: -3px;
} 
#future_events .slider__item p.duration {
	font-weight: normal;
	font-size: 16px;
	line-height: 50px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.8);
	margin-top: -16px;
	margin-left: 25px;
	padding: 0;
	position: relative;
}
#future_events .slider__item p.duration::before {
	position: absolute;
	content: url('../img/stopwatch.png');
	text-align: center;
	left: -25px;
	top: 5px;
}
#future_events .slider__item p {
	margin-top: -5px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #323232;
}
#future_events .slider__item a {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #000000;
	left: 78px;
}
#future_events .slider__item a:hover {
	text-shadow: 0px 1px 1px black;
}
#future_events .slider_manage_block  {
	display: flex;
	margin-top: 60px;
}

/* Блок from_organizers */

#from_organizers {
	margin-left: 9.2rem;
}
/* Title from organizer */

.title__from_organizers {
    margin-top: 79px;
    margin-bottom: 57px;
    overflow: hidden;
    text-align: center;
}

.title__from_organizers span {
    position: relative;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
	margin-left: -140px;
}
.title__from_organizers  span:before {
    width: 448px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 47%;
    right: 686px;
}
.title__from_organizers  span:after {
    width: 448px;
    content: '';
    position: absolute;
    border: 1px solid #000000;
    top: 47%;
    left: 681px;
}


/* Главный блок From_organizers */

.from_organizers__item {
	width: 100%;
	height: 595px;
	background: linear-gradient(89.9deg, #FFFFFF 4.16%, rgba(255, 255, 255, 0) 52.07%), 
	url(../img/bg_from_organizers.png) no-repeat;
	background-position: right top;
}
.from_organizers__item .organizers_discription {
	width: 48%;
	margin-top: 84px;
}
.from_organizers__item .organizers_discription p {
	font-weight: normal;
	font-size: 22px;
	line-height: 37px;
	color: #000000;
	
    width: 98%;
}
.from_organizers__item .organizers_discription .space p {
	margin-bottom: 51px;
    margin-top: 15px;
}
.write a {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1.6px;
    text-decoration: none;
    text-align: center;
    padding: 13px 28px 11px 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
}
.write a:hover {
	text-decoration: none;
	background: #222222;
	color: #FFFFFF;
}
.write a:active {
	border: 1px solid #445162;
}

/* Footer */

footer {
	margin-top: 80px;
	background: #FAFAFA;
}

.footer_menu {
	display: flex;
	justify-content: space-around;
}
.footer_menu .half_first {
	width: 47%;
}
.footer_menu .half_second {
	width: 48%;
}

.footer__item {
	display: flex;
	justify-content: space-around;
}

/* Social Buttons */
#footer .social_buttons {
	display: block;
	margin-top: 95px;
	margin-left: 85px;
}
#footer .social_buttons__link {
	margin-top: 51px;

}
#footer .social_buttons__link a {
	margin-right: 5px;
}
#footer .social_buttons__link a img:hover {
  background: rgba(0,0,0,0.5);
  border-radius: 50% 
}


/* Footer List */

#footer .footer_list {
	margin-top: 91px;

}
#footer h3 {
	font-weight: bold;
	font-size: 22px;
	line-height: 44px;
	color: #000000;
} 
#footer .footer_list ul {
	list-style:  none;
    padding-left: 0;
}

#footer .footer_list li {
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	color: #000000;
}
#footer .footer_list li a {
    text-decoration: none;
    color: #000000;
}
#footer .footer_list li a:hover {
    text-decoration: underline;
    color: #54593a;
    transition: .3s;
}

/* Footer Contacts */

#footer .footer_contacts {
	margin-top: 91px;
	margin-left: 65px;
}
#footer .footer_contacts ul {
	list-style:  none;
    padding-left: 0;
    margin-left: 46px;
}
#footer .footer_contacts li {
	position: relative;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;
	color: #000000;
}
#footer .footer_contacts li::before {
	position: absolute;
	left: -42px;
	text-align: center;
	line-height: 43px;
}
.footer_contacts li.mail::before {
	content: url(../img/mail.png);
}
.footer_contacts li.phone::before {
	content: url(../img/phone.png);
}
#footer .footer_contacts li a {
	text-decoration: none;
    color: #000000;
}
#footer .footer_contacts li a:hover {
	text-decoration: none;
    transition: .3s;
}

#footer p.copyright {
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	line-height: 44px;
	color: #000000;	
	margin-top: 71px;
}