@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'ProximaNova', sans-serif;
}

body.blur {
    overflow: hidden;
    padding-right: 17px;
    padding-top: 0;
}

body.blur main {
    filter: blur(4px);
}

body.blur header {
    position: static;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.container-lg {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 45px;
}

.container-sm {
    max-width: 1530px;
    padding: 0 45px;
    margin: 0 auto;
}

.row {
    margin-left: -45px;
    margin-right: -45px;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 45px;
}

.tab:not(.active) {
    display: none;
}

.btn {
    display: inline-block;
    padding: 14px 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    height: 50px;
    transition: all linear .1s;
    outline: none;
}

form .btn {
    font-family: ProximaNova, sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 24px;
    padding: 12px 20px;
}

.btn-red {
    color: #fff;
    background: #C46565;
}

.btn-red:hover {
    background: #222222;
}

.btn-blue {
    color: #fff;
    background: #43A2B7;
}

.btn-blue:hover {
    background: #B6B6B6;
}

.btn-green {
    color: #fff;
    background: #83C465;
}

.btn-green:hover {
    background: #000;
}

.btn-teal {
    color: #fff;
    background: #59ADA8;
}

.btn-teal:hover {
    background: #000;
}

.btn-white {
    padding-top: 12px;
    color: #000;
    background: #fff;
    border: 2px solid #000000;
}

.btn-white:hover {
    color: #fff;
    background: #000;
}

.btn-grey {
    color: #fff;
    background: #BFBFBF;
}

.btn-grey:hover {
    background: #83C465;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

#cookie-block {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    padding: 44px 0;
    background: #fff;
}

#cookie-block p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    width: calc(100% - 320px);
    float: left;
}

#cookie-block p a {
    color: #8F8F8F;
    text-decoration: none;
}

#cookie-block button {
    float: right;
    width: 291px;
    margin-top: 7px;
}

.clipboard {
    position: relative;
}

.clipboard:after {
    content: attr(data-tooltip-text);
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
    font-size: 16px;
    color: #000;
    display: inline-block;
    white-space: nowrap;
    transition: all linear .3s;
    opacity: 0;
}

.clipboard.tooltip:after {
    opacity: 1;
}

@media (max-width: 1719px) {
    #cookie-block p {
        font-size: 22px;
        letter-spacing: 0;
    }

    #cookie-block button {
        float: right;
        width: 291px;
        margin-top: 7px;
    }
}

@media (max-width: 1439px) {
    #cookie-block p {
        font-size: 16px;
        letter-spacing: 0;
    }

    #cookie-block button {
        float: right;
        width: 291px;
        margin-top: 7px;
    }
}

@media (max-width: 1199px) {
    .clipboard.tooltip {
        top: calc(50% - 6px);
    }

    .clipboard.tooltip:after {
        font-size: 10px;
    }

    #cookie-block {
        padding: 20px 0;
    }

    #cookie-block p {
        font-size: 16px;
        letter-spacing: 0;
        width: calc(100% - 200px);
    }

    #cookie-block button {
        width: 180px;
    }

    .container {
        max-width: 768px;
    }

    .container-sm {
        max-width: 780px;
    }

    .row {
        margin-left: -30px;
        margin-right: -30px;
    }

    .col {
        width: calc(100% / 2);
        padding: 0 30px;
    }

    .container-sm .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .container-sm .col {
        padding: 0 15px;
    }

    .btn {
        font-size: 20px;
        letter-spacing: 0;
        padding: 6px 20px;
        height: 35px;
    }

    form .btn {
        font-size: 16px;
        padding: 6px 7px;
    }

    .btn-white {
        padding: 4px 20px;
    }
}

@media (max-width: 767px) {
    #cookie-block p {
        float: none;
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
    }

    #cookie-block button {
        float: none;
        width: 100%;
        margin: 0;
    }

    .container,
    .container-lg {
        max-width: 320px;
    }

    .container-sm {
        max-width: 280px;
        padding: 0;
    }

    .col {
        width: 100%;
    }

    .btn {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 2px 20px;
        height: 25px;
    }

    form .btn {
        height: 30px;
        font-size: 14px;
        padding: 4px 5px;
    }

    .btn-white {
        padding: 0 20px;
    }
}